.wp-block-fv-program-modal-visible .container .img-visible {
	display: none;
}
.wp-block-fv-program-modal-visible h2 {
	text-align: center;
	font-size: 22px;
	line-height: 26px;
	font-family: "Montserrat";
	font-weight: 600;
	color: var(--darkGray);
	margin-bottom: 20px;
}
.wp-block-fv-program-modal-visible .wrapper > p {
	text-align: center;
	font-size: 14px;
	line-height: 130%;
	font-family: "Montserrat";
	font-weight: 500;
	color: rgba(83, 83, 83, 0.8);
	margin-bottom: 20px;
}

.wp-block-fv-program-modal-visible {
	margin-bottom: 75px;
}
.wp-block-fv-program-modal-visible h2 .highlight:before {
	content: "Программа";
	position: absolute;
	top: -11px;
	left: 15px;
	color: var(--mediumGray);
	opacity: 0.7;
	font-size: 10px;
	line-height: 15px;
	font-family: "Montserrat";
	font-weight: 500;
}
.wp-block-fv-program-modal-visible h2 .highlight:before {
	left: 14px;
	top: -4px;
}
.wp-block-fv-program-modal-visible.skills-academy h2 .highlight:before {
	left: 16px;
	top: -8px;
}
.wp-block-fv-program-modal-visible.skills-academy .modal-content .next {
	background-color: var(--blue);
}

.wp-block-fv-program-modal-visible.skills-academy h2 {
	width: 300px;
	margin: 0 auto;
}
.wp-block-fv-program-modal-visible .modal-content > p {
	padding-left: 0;
	padding-right: 0;
	margin-top: 20px;
}

@media (min-width: 767px) {
	.wp-block-fv-program-modal-visible .wrapper > p {
		display: block;
		font-size: 14px;
		line-height: 21px;
		color: var(--mediumGray);
		font-family: "Montserrat";
		font-weight: 500;
		max-width: 320px;
		margin: 0 auto;
		margin-bottom: 40px;
		text-align: center;
	}
	.wp-block-fv-program-modal-visible .container .img-visible {
		display: block;
		width: 50%;
		overflow: hidden;
		border-radius: 20px;
	}
	.wp-block-fv-program-modal-visible .container .img-visible img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: center;
	}
	.wp-block-fv-program-modal-visible .container {
		display: flex;
		gap: 20px;
		align-items: stretch;
	}

	.wp-block-fv-program-modal-visible .modal-steps-form {
		width: 50%;
	}
	.wp-block-fv-program-modal-visible h2 {
		width: 450px;
		margin: 0 auto;
		margin-bottom: 40px;
	}
	.wp-block-fv-program-modal-visible.skills-academy h2 {
		width: 500px;
		margin: 0 auto;
		margin-bottom: 40px;
	}
	.wp-block-fv-program-modal-visible.art-community h2 {
		width: 470px;
	}
	.wp-block-fv-program-modal-visible.city-template h2 {
		width: 470px;
	}
	.wp-block-fv-program-modal-visible h2 {
		font-size: 32px;
		line-height: 38.4px;
		width: 750px;
	}
}
@media (min-width: 820px) {
	.wp-block-fv-program-modal-visible {
		margin-bottom: 120px;
	}
	.wp-block-fv-program-modal-visible h2 .highlight:before {
		left: 20px;
	}
	.wp-block-fv-program-modal-visible.skills-academy h2 .highlight:before {
		font-size: 14px;
		line-height: 21px;
		left: 25px;
		top: -17px;
	}
	.wp-block-fv-program-modal-visible.skills-academy h2 {
		width: 700px;
	}
	.wp-block-fv-program-modal-visible.art-community h2 {
		width: 770px;
	}
	.wp-block-fv-program-modal-visible.skills-template h2 {
		width: 650px;
	}
	.wp-block-fv-program-modal-visible.city-template h2 {
		width: 700px;
	}
}
@media (min-width: 1025px) {
	.wp-block-fv-program-modal-visible .wrapper > p {
		font-size: 16px;
		line-height: 24px;
	}
	.wp-block-fv-program-modal-visible h2 {
		font-size: 42px;
		line-height: 50.4px;
		width: 950px;
	}
	.wp-block-fv-program-modal-visible h2 .highlight:before {
		font-size: 14px;
		line-height: 21px;
		left: 27px;
		top: -7px;
	}
	.wp-block-fv-program-modal-visible.skills-academy h2 .highlight:before {
		left: 35px;
		top: -13px;
	}
	.wp-block-fv-program-modal-visible.skills-academy .modal-content .next:disabled:hover {
		background-color: var(--blue);
	}
	.wp-block-fv-program-modal-visible.skills-academy h2 {
		width: 800px;
	}
	.wp-block-fv-program-modal-visible.art-community h2 {
		width: 970px;
	}
	.wp-block-fv-program-modal-visible.skills-template h2 {
		width: 850px;
	}
	.wp-block-fv-program-modal-visible.city-template h2 {
		width: 1110px;
	}
	.wp-block-fv-program-modal-visible .container .img-visible,
	.wp-block-fv-program-modal-visible .modal-steps-form,
	.wp-block-fv-program-modal.modal-steps-form .modal-wrapper,
	.wp-block-fv-program-modal.modal-steps-form .modal-content,
	.wp-block-fv-program-modal.modal-steps-form .container-step {
		height: 480px;
	}
}
