.wp-block-fv-our-excursion .slider-block .slide {
	padding: 0;
}
.wp-block-fv-our-excursion .slider-container {
	overflow: hidden;
	border-radius: 20px;
}
.wp-block-fv-our-excursion {
	margin-bottom: 75px;
}
.wp-block-fv-our-excursion h2 {
	text-align: center;
	font-size: 22px;
	line-height: 26px;
	font-family: "Montserrat";
	font-weight: 600;
	color: var(--darkGray);
	margin-bottom: 10px;
}
.wp-block-fv-our-excursion p {
	text-align: center;
	font-size: 14px;
	line-height: 21px;
	font-family: "Montserrat";
	font-weight: 500;
	color: var(--mediumGray);
	width: 220px;
	margin: 0 auto;
	margin-bottom: 10px;
}
.wp-block-fv-our-excursion .slider-block .slide {
	height: 390px;
	position: relative;
}

.wp-block-fv-our-excursion h2 .highlight:before {
	content: "Программа";
	position: absolute;
	top: -11px;
	left: 15px;
	color: var(--mediumGray);
	opacity: 0.7;
	font-size: 10px;
	line-height: 15px;
	font-family: "Montserrat";
	font-weight: 500;
}
.wp-block-fv-our-excursion h2 .highlight:before {
	left: 14px;
	top: -4px;
}

.wp-block-fv-our-excursion .slider-block {
	display: grid;
	transition: transform 0.3s ease;
	gap: 0px;
	width: 100%;
}
.wp-block-fv-our-excursion .slider-block .slide {
	width: 100%;
	box-sizing: border-box;
	position: relative;
}
.wp-block-fv-our-excursion .slider-block .slide img {
	display: block;
	height: 100%;
	border-radius: 10px;
	overflow: hidden;
	object-fit: cover;
	object-position: center;
}
.wp-block-fv-our-excursion .slider-block .slide h4 {
	font-size: 16px;
	line-height: 19.2px;
	font-family: "Montserrat";
	font-weight: 600;
	color: var(--darkGray);
	margin-bottom: 10px;
	width: 60% !important;
	z-index: 30;
}
.wp-block-fv-our-excursion .slider-block .slide > .text-label {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 14px;
	line-height: 21px;
	font-weight: 500;
	font-family: "Montserrat";
	color: var(--white);
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--green);
	backdrop-filter: blur(4px);
	border-radius: 30px;
	height: 40px;
	padding-left: 30px;
	padding-right: 30px;
	width: 60%;
	z-index: 120;
}
.wp-block-fv-our-excursion .slider-block .slide p {
	font-size: 14px;
	line-height: 18.2px;
	font-family: "Montserrat";
	font-weight: 500;
	color: var(--mediumGray);
	z-index: 30;
}
.wp-block-fv-our-excursion .icons-for-slider {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 15px;
	position: relative;
}
.wp-block-fv-our-excursion .icons-for-slider .icon-2 {
	position: absolute;
	top: 0;
	right: 10px;
	animation: moveLeftRight 1s infinite alternate ease-in-out;
}
.wp-block-fv-our-excursion .slider-block .slide:before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.wp-block-fv-our-excursion .slider-block {
	position: relative;
}
.wp-block-fv-our-excursion .slider-preloader {
	display: none;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.8);
	z-index: 10;
}
.wp-block-fv-our-excursion .preloader-spinner {
	width: 40px;
	height: 40px;
	border: 4px solid #f3f3f3;
	border-top: 4px solid #3498db;
	border-radius: 50%;
	animation: spin 1s linear infinite;
}
.wp-block-fv-our-excursion .slider-pagination {
	position: absolute;
	top: 50%;
	left: 0%;
	width: 100%;
	display: none;
	justify-content: space-between;
	z-index: 200;
	pointer-events: none;
}
.wp-block-fv-our-excursion .slider-pagination .left-btn {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-color: rgba(123, 123, 123, 0.1);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.3s ease;
	pointer-events: auto;
}
.wp-block-fv-our-excursion .slider-pagination .left-btn svg {
	margin-left: -4px;
}
.wp-block-fv-our-excursion .slider-pagination .left-btn svg path {
	transition: all 0.3s ease;
}
.wp-block-fv-our-excursion .slider-pagination .left-btn:hover {
	background-color: rgba(48, 169, 51, 1);
	transition: all 0.3s ease;
}
.wp-block-fv-our-excursion .slider-pagination .left-btn:hover svg path {
	stroke: var(--white);
	transition: all 0.3s ease;
}
.wp-block-fv-our-excursion .slider-pagination .right-btn {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-color: rgba(123, 123, 123, 0.1);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.3s ease;
	pointer-events: auto;
	right: 0px;
}
.wp-block-fv-our-excursion .slider-pagination .right-btn svg {
	margin-right: -4px;
}
.wp-block-fv-our-excursion .slider-pagination .right-btn svg path {
	transition: all 0.3s ease;
}
.wp-block-fv-our-excursion .slider-pagination .right-btn:hover {
	background-color: rgba(48, 169, 51, 1);
	transition: all 0.3s ease;
}
.wp-block-fv-our-excursion .slider-pagination .right-btn:hover svg path {
	stroke: var(--white);
	transition: all 0.3s ease;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes moveLeftRight {
	0% {
		transform: translateX(0); /* Начальная позиция */
	}
	100% {
		transform: translateX(20px); /* Конечная позиция - сдвиг на 10px вправо */
	}
}

.wp-block-fv-our-excursion .content-video {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 0px;
	background-color: var(--lightGray);
}
.wp-block-fv-our-excursion video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.wp-block-fv-our-excursion .play-video {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 34px;
	height: 34px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 50%;
	backdrop-filter: blur(34px);
	z-index: 99;
	opacity: 1;
	transition: opacity 0.3s ease;
}
.wp-block-fv-our-excursion .play-video svg {
	width: 11px;
	height: 16px;
	margin-right: -2px;
}
.wp-block-fv-our-excursion .play-video path {
	fill: #ffffff;
}

@media (min-width: 767px) {
	.wp-block-fv-our-excursion .wrapper .play-video {
		width: 65px !important;
		height: 65px;
	}
	.wp-block-fv-our-excursion .icons-for-slider {
		display: none;
	}
	.wp-block-fv-our-excursion .play-video svg {
		width: 15px;
		height: 21px;
		margin-right: -2px;
	}
	.wp-block-fv-our-excursion .slider-block .slide {
		padding: 0 10px;
	}
	.wp-block-fv-our-excursion .slider-container .slider-box {
		margin: 0 -10px;
	}
	.wp-block-fv-our-excursion h2 {
		width: 500px;
		margin: 0 auto;
		margin-bottom: 15px;
	}
	.wp-block-fv-our-excursion p {
		margin-bottom: 40px;
	}
	.wp-block-fv-our-excursion .slider-block .slide,
	.wp-block-fv-our-excursion .content-video {
		border-radius: 20px;
		overflow: hidden;
	}

	.wp-block-fv-our-excursion .slider-container {
		position: relative;
	}
	.wp-block-fv-our-excursion .slider-container .slider-box {
		overflow: hidden;
	}
	.wp-block-fv-our-excursion .slider-pagination {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0%;
		width: 100%;
		justify-content: space-between;
		z-index: 200;
		display: flex;
	}
	.wp-block-fv-our-excursion .slider-pagination .left-btn {
		width: 40px;
		height: 40px;
		border-radius: 20px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		transition: all 0.3s ease;
		backdrop-filter: blur(0px);
		background-color: rgba(48, 169, 51, 1);
	}
	.wp-block-fv-our-excursion .slider-pagination .left-btn svg {
		margin-left: -4px;
	}
	.wp-block-fv-our-excursion .slider-pagination .left-btn svg path {
		stroke: var(--white);
		transition: all 0.3s ease;
	}
	.wp-block-fv-our-excursion .slider-pagination .left-btn:hover {
		background-color: rgba(48, 169, 51, 1) !important;
		transition: all 0.3s ease;
	}
	.wp-block-fv-our-excursion .slider-pagination .left-btn:hover svg path {
		stroke: var(--white) !important;
		transition: all 0.3s ease;
	}
	.wp-block-fv-our-excursion .slider-pagination .right-btn {
		width: 40px;
		height: 40px;
		border-radius: 20px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		transition: all 0.3s ease;
		background-color: rgba(48, 169, 51, 1);
		backdrop-filter: blur(0px);
	}
	.wp-block-fv-our-excursion .slider-pagination .right-btn:hover {
		background-color: rgba(48, 169, 51, 1);
		transition: all 0.3s ease;
	}
	.wp-block-fv-our-excursion .slider-pagination .right-btn svg {
		margin-right: -4px;
	}
	.wp-block-fv-our-excursion .slider-pagination .right-btn:hover svg path {
		stroke: var(--white);
		transition: all 0.3s ease;
	}
	.wp-block-fv-our-excursion .slider-pagination .right-btn svg path {
		stroke: var(--white);
		transition: all 0.3s ease;
	}
	.wp-block-fv-our-excursion .slider-block .slide {
		padding: 0 10px;
		display: flex;
		flex-direction: column;
	}
	.wp-block-fv-our-excursion .slider-block .slide img {
		border-radius: 20px;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
	.slider-team-block.wp-block-fv-our-excursion .slider-block .slide img {
		height: 330px;
	}
	.wp-block-fv-our-excursion .slider-block .slide h4 {
		width: 100%;
	}
	.wp-block-fv-our-excursion .slider-block .slide p {
		line-height: 21px;
		min-height: 83px;
	}
}
@media (min-width: 820px) {
	.wp-block-fv-our-excursion h2 {
		font-size: 32px;
		line-height: 38.2px;
	}
	.wp-block-fv-our-excursion p {
		width: 100%;
	}
	.wp-block-fv-our-excursion .slider-block .slide {
		height: 500px;
	}
	.wp-block-fv-our-excursion {
		margin-bottom: 120px;
	}
	.wp-block-fv-our-excursion.reviews-section h2 {
		width: 600px;
	}
	.wp-block-fv-our-excursion h2 .highlight:before {
		left: 20px;
	}
	.red-template.wp-block-fv-our-excursion h2 {
		width: 750px;
	}
}
@media (min-width: 1025px) {
	.wp-block-fv-our-excursion h2 {
		font-size: 42px;
		line-height: 50.4px;
		width: 650px;
		margin-bottom: 10px;
	}
	.wp-block-fv-our-excursion p {
		font-size: 16px;
		line-height: 24px;
	}
	.wp-block-fv-our-excursion .slider-container {
		overflow: initial;
	}
	.wp-block-fv-our-excursion .slider-pagination {
		left: -5%;
		width: 110%;
	}
	.wp-block-fv-our-excursion.reviews-section h2 {
		width: 1000px;
	}
	.wp-block-fv-our-excursion .slider-block img {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-touch-callout: none;
		-webkit-tap-highlight-color: transparent;
	}
}
