.wp-block-fv-our-feedback-updated {
	margin-bottom: 75px;
}
.wp-block-fv-our-feedback-updated h2 {
	font-size: 22px;
	line-height: 100%;
	margin-bottom: 10px;
	letter-spacing: -0.22px;
	color: var(--darkGray);
	font-family: "Montserrat";
	font-weight: 600;
	text-align: center;
}

.wp-block-fv-our-feedback-updated .select-ul {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.wp-block-fv-our-feedback-updated .select-ul li {
	background-color: #f5f5f7;
	border-radius: 30px;
	padding: 6px 12px 6px 22px;
	position: relative;
	font-size: 14px;
	line-height: 130%;
	font-family: "Montserrat";
	font-weight: 500;
	color: #535353;
	cursor: pointer;
}
.wp-block-fv-our-feedback-updated .select-ul li.active {
	background-color: #30a933;
	color: #ffffff;
}
.wp-block-fv-our-feedback-updated .select-ul li::before {
	content: "";
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #30a933;
	position: absolute;
	left: 12px;
	top: calc(50% - 2px);
}
.wp-block-fv-our-feedback-updated .select-ul li.active::before {
	background-color: #fff;
}

.wp-block-fv-our-feedback-updated .select-block {
	margin-bottom: 20px;
}

.wp-block-fv-our-feedback-updated .swiper-slide {
	background-color: #f5f5f7;
	padding: 20px 10px;
	border-radius: 20px;
	box-sizing: border-box;
}

.wp-block-fv-our-feedback-updated .slide-item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wp-block-fv-our-feedback-updated .title-slide {
	font-size: 16px;
	line-height: 100%;
	font-family: "Montserrat";
	font-weight: 600;
	letter-spacing: -0.16px;
	color: #535353;
	margin-bottom: 5px;
	text-align: center;
}

.wp-block-fv-our-feedback-updated .description-slide {
	font-size: 14px;
	line-height: 110%;
	font-family: "Montserrat";
	font-weight: 500;
	letter-spacing: 0px;
	color: rgba(83, 83, 83, 0.8);
	margin-bottom: 20px;
	text-align: center;
}

.wp-block-fv-our-feedback-updated .label-slide {
	font-size: 14px;
	line-height: 110%;
	font-family: "Montserrat";
	font-weight: 600;
	letter-spacing: -0.14px;
	color: #535353;
	text-align: center;
}

.wp-block-fv-our-feedback-updated .top-container {
	margin-bottom: 20px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 200px;
}

.wp-block-fv-our-feedback-updated .right-text {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wp-block-fv-our-feedback-updated .top-container img {
	width: 145px;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 14px;
	overflow: hidden;
}
.my-swiper-feedback {
	position: relative;
}
.wp-block-fv-our-feedback-updated .icons-for-slider {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 10;
}

.wp-block-fv-our-feedback-updated .icons-for-slider .icon-1 {
	position: absolute;
	top: 0;
	right: 10px;
}
.wp-block-fv-our-feedback-updated .icons-for-slider .icon-2 {
	position: absolute;
	top: 0;
	right: 20px;
	animation: moveLeftRight 1s infinite alternate ease-in-out;
}

.wp-block-fv-our-feedback-updated .slider-pagination {
	display: none;
}

.wp-block-fv-our-feedback-updated .item-tab {
	height: 0;
	overflow: hidden;
}
.wp-block-fv-our-feedback-updated .item-tab.active {
	height: auto;
}
.wp-block-fv-our-feedback-updated .content-video {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 0px;
	background-color: var(--lightGray);
}
.wp-block-fv-our-feedback-updated video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.wp-block-fv-our-feedback-updated .play-video {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 34px;
	height: 34px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 50%;
	backdrop-filter: blur(34px);
	z-index: 99;
	opacity: 1;
	transition: opacity 0.3s ease;
}
.wp-block-fv-our-feedback-updated .play-video svg {
	width: 11px;
	height: 16px;
	margin-right: -2px;
}
.wp-block-fv-our-feedback-updated .play-video path {
	fill: #ffffff;
}

.wp-block-fv-our-feedback-updated .slider-pagination .left-btn.swiper-button-lock,
.wp-block-fv-our-feedback-updated .slider-pagination .right-btn.swiper-button-lock {
	display: none;
}

@media (min-width: 767px) {
	.wp-block-fv-our-feedback-updated h2 {
		max-width: 570px;
		margin: 0 auto;
		margin-bottom: 10px;
	}
	.wp-block-fv-our-feedback-updated .slide-item {
		flex-direction: row;
		gap: 20px;
		align-items: flex-start;
	}
	.wp-block-fv-our-feedback-updated .swiper-slide {
		width: 625px;
	}
	.wp-block-fv-our-feedback-updated .icons-for-slider {
		display: none;
	}
	.wp-block-fv-our-feedback-updated .top-container {
		margin-bottom: 0;
		height: 270px;
		width: 200px;
	}
	.wp-block-fv-our-feedback-updated .top-container img {
		width: 100%;
	}
	.wp-block-fv-our-feedback-updated .right-text {
		align-items: flex-start;
		width: calc(100% - 200px - 20px);
	}
	.wp-block-fv-our-feedback-updated .description-slide {
		text-align: left;
	}
	.wp-block-fv-our-feedback-updated .right-text {
		height: 100%;
	}
	.wp-block-fv-our-feedback-updated .title-slide {
		text-align: left;
	}
	.wp-block-fv-our-feedback-updated .slider-pagination {
		display: flex;
		width: 100%;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		position: absolute;
		z-index: 100;
	}
	.wp-block-fv-our-feedback-updated .slider-pagination .left-btn,
	.wp-block-fv-our-feedback-updated .slider-pagination .right-btn {
		width: 45px;
		height: 45px;
		border-radius: 50%;
		background-color: var(--green);
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.wp-block-fv-our-feedback-updated .slider-pagination .left-btn path,
	.wp-block-fv-our-feedback-updated .slider-pagination .right-btn path {
		stroke: #fff;
	}
	.wp-block-fv-our-feedback-updated .select-ul {
		margin: 0;
	}
	.wp-block-fv-our-feedback-updated .select-ul li {
		width: auto;
		height: auto;
		margin: 0;
	}
	.wp-block-fv-our-feedback-updated .swiper-button-prev:after,
	.wp-block-fv-our-feedback-updated .swiper-rtl .swiper-button-next:after,
	.wp-block-fv-our-feedback-updated .swiper-button-next:after,
	.wp-block-fv-our-feedback-updated .swiper-rtl .swiper-button-prev:after {
		display: none;
	}
	.wp-block-fv-our-feedback-updated .swiper-button-next svg,
	.wp-block-fv-our-feedback-updated .swiper-button-prev svg {
		width: 9px;
	}
}

@media (min-width: 820px) {
	.wp-block-fv-our-feedback-updated h2 {
		font-size: 32px;
		max-width: 670px;
		margin-bottom: 20px;
	}
	.wp-block-fv-our-feedback-updated .select-ul li {
		padding: 12px 16px 12px 28px;
	}
	.wp-block-fv-our-feedback-updated .title-slide {
		font-size: 18px;
	}
	.wp-block-fv-our-feedback-updated .top-container img {
		width: 200px;
		height: 270px;
	}
	.wp-block-fv-our-feedback-updated .swiper-slide {
		padding: 20px;
	}
	.wp-block-fv-our-feedback-updated {
		margin-bottom: 120px;
	}
}

@media (min-width: 1025px) {
	.wp-block-fv-our-feedback-updated h2 {
		font-size: 42px;
		max-width: 870px;
	}
}
