.wp-block-fv-footer-block .menu .menu-title {
	font-size: 14px;
	line-height: 110%;
	color: var(--darkGray);
	font-family: "Montserrat";
	font-weight: 600;
	margin-bottom: 10px;
}
.wp-block-fv-footer-block .menu .menu-item a {
	font-size: 12px;
	line-height: 18px;
	color: var(--darkGray);
	font-family: "Montserrat";
	font-weight: 500;
	opacity: 0.8;
	margin-bottom: 2px;
	transition: all 0.3s ease;
}
.wp-block-fv-footer-block .menu .menu-item a:hover {
	color: var(--green);
	transition: all 0.3s ease;
}
.wp-block-fv-footer-block .menu .menu-item a:last-child {
	margin-bottom: 0;
}
.wp-block-fv-footer-block .menu-title {
	font-size: 14px;
	line-height: 110%;
	color: var(--darkGray);
	font-family: "Montserrat";
	font-weight: 600;
	margin-bottom: 10px;
}
.wp-block-fv-footer-block .menu {
	flex-direction: column;
	align-items: flex-start;
}
.wp-block-fv-footer-block .footer-menu,
.wp-block-fv-footer-block .directions-menu,
.wp-block-fv-footer-block .documents-menu {
	margin-bottom: 20px;
}

.wp-block-fv-footer-block .design-website {
	font-size: 12px;
	line-height: 150%;
	color: var(--darkGray);
	font-family: "Montserrat";
	font-weight: 500;
	opacity: 0.5;
}

.wp-block-fv-footer-block .wrapper:first-child {
	border-radius: 30px 30px 0px 0px;
	background-color: var(--hintGray);
	padding-top: 35px;
	padding-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
}
.wp-block-fv-footer-block .wrapper:last-child {
	background-color: var(--hintGray);
	padding-bottom: 20px;
}
.wp-block-fv-footer-block .right-info {
	display: flex;
	flex-direction: column;
	width: 50%;
	order: 2;
	margin-bottom: 27px;
}
.wp-block-fv-footer-block .phone-link,
.wp-block-fv-footer-block .email-link {
	font-size: 14px;
	line-height: 110%;
	color: var(--darkGray);
	font-family: "Montserrat";
	font-weight: 600;
	margin-bottom: 10px;
}
.wp-block-fv-footer-block .time-work {
	font-size: 12px;
	line-height: 150%;
	color: var(--darkGray);
	font-family: "Montserrat";
	font-weight: 500;
	opacity: 0.8;
	margin-bottom: 10px;
	display: block;
}
.wp-block-fv-footer-block .logo {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	width: 50%;
	order: 1;
}
.wp-block-fv-footer-block .logo img {
	object-fit: contain;
}
.wp-block-fv-footer-block .directions-menu {
	width: 50%;
	order: 3;
}
.wp-block-fv-footer-block .footer-menu {
	width: 50%;
	order: 4;
}
.wp-block-fv-footer-block .documents-menu {
	width: 100%;
	order: 5;
	margin-bottom: 0;
}

@media (min-width: 767px) {
	.wp-block-fv-footer-block .social-icons .vk {
		margin-right: 10px;
	}
	.wp-block-fv-footer-block .menu .menu-item a {
		font-size: 14px;
		line-height: 130%;
		margin-bottom: 5px;
	}
	.wp-block-fv-footer-block .time-work {
		font-size: 14px;
		line-height: 150%;
		margin-bottom: 13px;
	}
	.wp-block-fv-footer-block .menu-title,
	.wp-block-fv-footer-block .phone-link,
	.wp-block-fv-footer-block .email-link {
		font-size: 18px;
		line-height: 120%;
		margin-bottom: 15px;
	}
	.wp-block-fv-footer-block .logo {
		width: 145px;
	}
	.wp-block-fv-footer-block .footer-menu {
		width: 20%;
		order: 2;
	}
	.wp-block-fv-footer-block .directions-menu {
		width: 25%;
		order: 3;
	}
	.wp-block-fv-footer-block .right-info {
		width: 30%;
		order: 4;
	}
	.wp-block-fv-footer-block .wrapper:first-child {
		border-radius: 30px 30px 0px 0px;
		padding-top: 50px;
		padding-bottom: 33px;
		margin-left: 2%;
		box-sizing: border-box;
		margin-right: 2%;
		width: 96%;
		max-width: 100%;
	}
	.wp-block-fv-footer-block .wrapper:last-child {
		margin-left: 2%;
		box-sizing: border-box;
		margin-right: 2%;
		width: 96%;
		max-width: 100%;
	}
	.wp-block-fv-footer-block .documents-menu,
	.wp-block-fv-footer-block .design-website {
		padding-left: 145px;
	}
}

@media (min-width: 820px) {
}

@media (min-width: 1025px) {
	.wp-block-fv-footer-block .design-website {
		padding-left: 75%;
	}
	.wp-block-fv-footer-block .logo {
		width: 20%;
	}
	.wp-block-fv-footer-block .footer-menu {
		width: 15%;
		order: 2;
	}
	.wp-block-fv-footer-block .directions-menu {
		width: 20%;
		order: 3;
	}
	.wp-block-fv-footer-block .documents-menu {
		width: 20%;
		order: 4;
		margin-bottom: 0;
		padding-left: 0;
	}
	.wp-block-fv-footer-block .right-info {
		width: 20%;
		order: 5;
	}
	.wp-block-fv-footer-block .menu > .menu-item {
		margin-bottom: 5px;
	}
}
