.wp-block-fv-our-surprise .slider-block {
	display: grid;
	transition: transform 0.3s ease;
	gap: 0px;
	width: 100%;
}
.wp-block-fv-our-surprise .slider-block .slide {
	width: 100%;
	padding: 0 5px;
	box-sizing: border-box;
	position: relative;
}
.wp-block-fv-our-surprise .slider-block .slide img {
	display: block;
	margin-bottom: 10px;
	border-radius: 10px;
	overflow: hidden;
	object-fit: cover;
	object-position: center;
}
.wp-block-fv-our-surprise .slider-block .slide h4,
.wp-block-fv-our-surprise .slider-block .slide span {
	font-size: 16px;
	line-height: 19.2px;
	font-family: "Montserrat";
	font-weight: 600;
	color: var(--darkGray);
	margin-bottom: 10px;
	width: 60% !important;
	z-index: 30;
}
.wp-block-fv-our-surprise .slider-block .slide p {
	font-size: 14px;
	line-height: 18.2px;
	font-family: "Montserrat";
	font-weight: 500;
	color: var(--mediumGray);
	z-index: 30;
}
.wp-block-fv-our-surprise .icons-for-slider {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 15px;
	position: relative;
}
.wp-block-fv-our-surprise .icons-for-slider .icon-2 {
	position: absolute;
	top: 0;
	right: 10px;
	animation: moveLeftRight 1s infinite alternate ease-in-out;
}
@keyframes moveLeftRight {
	0% {
		transform: translateX(0); /* Начальная позиция */
	}
	100% {
		transform: translateX(20px); /* Конечная позиция - сдвиг на 10px вправо */
	}
}
.wp-block-fv-our-surprise .slider-block .slide:before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.wp-block-fv-our-surprise .slider-block {
	position: relative;
}
.wp-block-fv-our-surprise .slider-preloader {
	display: none;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.8);
	z-index: 10;
}

.wp-block-fv-our-surprise .preloader-spinner {
	width: 40px;
	height: 40px;
	border: 4px solid #f3f3f3;
	border-top: 4px solid #3498db;
	border-radius: 50%;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.wp-block-fv-our-surprise.reviews-section {
	position: relative;
	overflow: hidden;
	margin-bottom: 75px;
}
.wp-block-fv-our-surprise.reviews-section h2 {
	font-size: 22px;
	line-height: 26.4px;
	margin-bottom: 20px;
	color: var(--darkGray);
	font-family: "Montserrat";
	font-weight: 600;
	text-align: center;
}
.wp-block-fv-our-surprise {
	margin-bottom: 75px;
}
.wp-block-fv-our-surprise .our-reviews-modal .slide-item {
	position: relative;
	padding-top: 34px;
	padding-bottom: 20px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 30px;
	background-color: var(--hintGray);
	height: 100%;
}
.wp-block-fv-our-surprise .slider-block .slide {
	height: 100%;
}
.wp-block-fv-our-surprise .our-reviews-modal .slide-item > span {
	position: absolute;
	left: 50%;
	top: -10px;
	transform: translateX(-50%);
	width: 72px;
	height: 29px;
	border-radius: 30px;
	border: 1px solid var(--green);
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--green);
	background-color: var(--white);
	font-size: 16px;
	line-height: 19.2px;
	font-family: "Montserrat";
	font-weight: 600;
}
.wp-block-fv-our-surprise .slider-pagination {
	display: none;
}
.wp-block-fv-our-surprise .slider-block .slide p {
	min-height: auto;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
	text-align: left;
}
.wp-block-fv-our-surprise .slider-block .slide p:last-child {
	font-size: 12px;
	line-height: 18px;
}
.wp-block-fv-our-surprise .slider-block .slide p b {
	font-size: 14px;
	line-height: 21px;
	font-family: "Montserrat";
	font-weight: 500;
	color: var(--darkGray);
}
.wp-block-fv-our-surprise.reviews-section .wrapper > p {
	display: none;
}
.wp-block-fv-our-surprise .our-reviews-modal .slide-item {
	box-sizing: border-box;
}

@media (min-width: 767px) {
	.wp-block-fv-our-surprise .slider-pagination {
		display: flex;
	}
	.wp-block-fv-our-surprise.reviews-section h2 {
		width: 450px;
		margin: 0 auto;
		margin-bottom: 40px;
	}
	.wp-block-fv-our-surprise .slider-pagination {
		top: 0px;
		justify-content: center;
		position: initial;
		margin-bottom: 20px;
		width: 100%;
		gap: 10px;
	}
	.wp-block-fv-our-surprise .slider-container {
		display: flex;
		flex-direction: column-reverse;
	}
	.wp-block-fv-our-surprise .icons-for-slider {
		display: none;
	}
	.wp-block-fv-our-surprise .slider-pagination .left-btn {
		left: 0;
	}
	.wp-block-fv-our-surprise .slider-pagination .right-btn {
		right: 0;
	}
	.wp-block-fv-our-surprise .slider-container .slider-box {
		padding-top: 10px;
	}
	.wp-block-fv-our-surprise.reviews-section {
		margin-bottom: 120px;
	}
	.wp-block-fv-our-surprise.reviews-section.events-template {
		margin-bottom: 75px;
	}
}
@media (min-width: 820px) {
	.wp-block-fv-our-surprise.reviews-section h2 {
		font-size: 32px;
		line-height: 38.4px;
		width: 650px;
	}
	.wp-block-fv-our-surprise .our-reviews-modal .slide-item > span {
		font-size: 20px;
		line-height: 24px;
		padding: 5px 30px;
		top: -17px;
		height: auto;
		width: auto;
	}
	.wp-block-fv-our-surprise .slider-container .slider-box {
		padding-top: 17px;
	}
	.wp-block-fv-our-surprise.reviews-section.events-template {
		margin-bottom: 120px;
	}
	.wp-block-fv-our-surprise .slider-pagination .left-btn {
		width: 40px;
		height: 40px;
		border-radius: 20px;
		background-color: rgba(48, 169, 51, 1);
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		transition: all 0.3s ease;
	}
	.wp-block-fv-our-surprise .slider-pagination .right-btn {
		width: 40px;
		height: 40px;
		border-radius: 20px;
		background-color: rgba(48, 169, 51, 1);
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		transition: all 0.3s ease;
	}
	.wp-block-fv-our-surprise .slider-pagination .left-btn svg path,
	.wp-block-fv-our-surprise .slider-pagination .right-btn svg path {
		stroke: var(--white);
		transition: all 0.3s ease;
	}
}
@media (min-width: 1025px) {
	.wp-block-fv-our-surprise.reviews-section h2 {
		font-size: 42px;
		line-height: 50.4px;
		width: 850px;
	}
	.wp-block-fv-our-surprise .our-reviews-modal .slide-item > span {
		font-size: 22px;
		line-height: 26px;
		padding: 6px 40px;
	}
	.wp-block-fv-our-surprise .slider-block .slide p b {
		font-size: 16px;
		line-height: 24px;
	}
	.wp-block-fv-our-surprise .slider-block .slide p:last-child {
		font-size: 14px;
		line-height: 21px;
	}
}
