.wp-block-fv-children-live .select-block .select-ul {
	position: initial;
	height: auto;
	border-radius: 0;
	padding: 0;
	border: none;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.wp-block-fv-children-live {
	margin-bottom: 75px;
}
.wp-block-fv-children-live h2 {
	text-align: center;
	font-size: 22px;
	line-height: 26px;
	font-family: "Montserrat";
	font-weight: 600;
	color: var(--darkGray);
	margin-bottom: 20px;
}
.wp-block-fv-children-live .select-block .select-ul li {
	line-height: 19.6px;
	font-size: 16px;
	color: rgba(83, 83, 83, 0.5);
	margin-bottom: 0px;
	text-align: center;
	font-weight: 500;
	font-family: "Montserrat";
	transition: all 0.3s ease;
	border-radius: 10px;
	background-color: var(--hintGray);
	padding: 20px 0px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.wp-block-fv-children-live .select-block .select-ul li.active {
	background-color: var(--green);
	color: var(--white);
	transition: all 0.3s ease;
}

.wp-block-fv-children-live .select-block {
	margin-bottom: 20px;
}
.wp-block-fv-children-live .item-tab {
	display: flex;
	opacity: 0;
	height: 0;
	flex-direction: column;
	overflow: hidden;
}
.wp-block-fv-children-live .item-tab .left-block {
	display: flex;

	gap: 10px;
	flex-direction: column;
	margin-bottom: 10px;
}
.wp-block-fv-children-live .item-tab.active {
	opacity: 1;
	height: auto;
}
.wp-block-fv-children-live .card-tab {
	border-radius: 15px;
	background-color: var(--hintGray);
	padding-left: 20px;
	padding-bottom: 20px;
	padding-top: 74px;
	padding-right: 25px;
	position: relative;
}
.wp-block-fv-children-live .card-tab > span {
	position: absolute;
	border-radius: 0px 0px 10px 10px;
	background-color: var(--green);
	top: 0;
	right: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 160px;
	height: 32px;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	font-family: "Montserrat";
	color: var(--white);
}
.wp-block-fv-children-live .card-tab > p {
	font-size: 16px;
	line-height: 19.2px;
	font-weight: 600;
	font-family: "Montserrat";
	color: var(--darkGray);
	margin-bottom: 10px;
}
.wp-block-fv-children-live .card-tab > p:last-child {
	font-size: 14px;
	line-height: 21px;
	font-weight: 500;
	font-family: "Montserrat";
	color: var(--mediumGray);
	margin-bottom: 0px;
}
.wp-block-fv-children-live .slider-block {
	display: grid;
	transition: transform 0.3s ease;
	gap: 0px;
	width: 100%;
	position: relative;
}
.wp-block-fv-children-live .slider-block .slide {
	padding: 0;
}
.wp-block-fv-children-live .slider-block .slide img {
	height: 100%;
	width: 100%;
	margin-bottom: 0;
	object-fit: cover;
	object-position: center;
	border-radius: 15px;
}
.wp-block-fv-children-live .slider-pagination {
	display: none;
	position: absolute;
	top: 50%;
	left: 0%;
	width: 100%;
	justify-content: space-between;
	z-index: 200;
	pointer-events: none;
}
.wp-block-fv-children-live .slider-container {
	position: relative;
	border-radius: 15px;
	overflow: hidden;
}
.wp-block-fv-children-live .slider-container .icons-for-slider {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 20;
}
.wp-block-fv-children-live .slider-container .icon-1 path {
	fill: var(--white);
	fill-opacity: 0.5;
}
.wp-block-fv-children-live .slider-container .icon-2 path {
	fill: var(--white);
}
.wp-block-fv-children-live .slider-block .slide {
	position: relative;
	height: 310px;
}
.wp-block-fv-children-live .slider-block .slide > span {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 16px;
	line-height: 19px;
	font-weight: 600;
	font-family: "Montserrat";
	color: var(--white);
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(4px);
	border-radius: 10px;
	min-width: 163px;
	width: auto;
	height: 38px;
	padding-left: 20px;
	padding-right: 20px;
}
.wp-block-fv-children-live.skills-academy .select-block .select-ul li.active {
	background-color: var(--blue);
}
.wp-block-fv-children-live.skills-academy .card-tab > span {
	background-color: var(--blue);
}
.wp-block-fv-children-live.art-community .select-block .select-ul li.active {
	background-color: var(--artRed);
}
.wp-block-fv-children-live.art-community .card-tab > span {
	background-color: var(--artRed);
}
.wp-block-fv-children-live.city-template .card-tab:nth-child(4) {
	display: none;
}
.wp-block-fv-children-live .slider-tab1-1-thumbnail,
.wp-block-fv-children-live .slider-tab2-1-thumbnail,
.wp-block-fv-children-live .slider-tab3-1-thumbnail,
.wp-block-fv-children-live .slider-space-thumbnail {
	display: none;
}
.wp-block-fv-children-live .icons-for-slider {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 15px;
	position: relative;
}
.wp-block-fv-children-live .icons-for-slider .icon-2 {
	position: absolute;
	top: 0;
	right: 10px;
	animation: moveLeftRight 1s infinite alternate ease-in-out;
}
@keyframes moveLeftRight {
	0% {
		transform: translateX(0); /* Начальная позиция */
	}
	100% {
		transform: translateX(20px); /* Конечная позиция - сдвиг на 10px вправо */
	}
}

.wp-block-fv-children-live .slider-pagination .left-btn,
.wp-block-fv-children-live .slider-pagination .right-btn {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-color: rgba(123, 123, 123, 0.1);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.3s ease;
	pointer-events: auto;
}
.wp-block-fv-children-live .slider-pagination .left-btn {
	left: 10px;
}
.wp-block-fv-children-live .slider-pagination .right-btn {
	right: 10px;
}
.wp-block-fv-children-live .slider-pagination .left-btn svg {
	margin-left: -4px;
}
.wp-block-fv-children-live .slider-pagination .right-btn svg {
	margin-right: -4px;
}
.wp-block-fv-children-live .slider-pagination .left-btn svg path,
.wp-block-fv-children-live .slider-pagination .right-btn svg path {
	transition: all 0.3s ease;
}
.wp-block-fv-children-live .slider-pagination .left-btn:hover,
.wp-block-fv-children-live .slider-pagination .right-btn:hover {
	background-color: rgba(48, 169, 51, 1);
	transition: all 0.3s ease;
}
.wp-block-fv-children-live .slider-pagination .left-btn:hover svg path,
.wp-block-fv-children-live .slider-pagination .right-btn:hover svg path {
	stroke: var(--white);
	transition: all 0.3s ease;
}

@media (min-width: 767px) {
	.wp-block-fv-children-live {
		margin-bottom: 120px;
	}
	.wp-block-fv-children-live .slider-block .slide img {
		border-radius: 20px;
	}
	.wp-block-fv-children-live .select-block .select-ul {
		flex-direction: row;
		margin: 0;
	}
	.wp-block-fv-children-live .select-block .select-ul li {
		width: 50%;
		margin: 0;
		height: 60px;
		border: none;
	}
	.wp-block-fv-children-live .card-tab {
		width: calc(50% - 10px);
		box-sizing: border-box;
	}
	.wp-block-fv-children-live .item-tab .left-block {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 20px;
		margin-bottom: 20px;
	}
	.wp-block-fv-children-live .slider-pagination {
		display: flex;
		position: absolute;
		top: calc(50% - 90px);
		transform: translateY(calc(-50% + 45px));
		width: 100%;
		left: 0%;
	}
	.wp-block-fv-children-live h2 {
		margin-bottom: 40px;
	}

	.wp-block-fv-children-live .slider-pagination .right-btn,
	.wp-block-fv-children-live .slider-pagination .left-btn {
		background-color: rgba(255, 255, 255, 0.3);
		backdrop-filter: blur(3px);
	}
	.wp-block-fv-children-live .slider-pagination .left-btn svg path,
	.wp-block-fv-children-live .slider-pagination .right-btn svg path {
		stroke: var(--white);
	}
	.wp-block-fv-children-live .slider-container .icons-for-slider {
		display: none;
	}
	.wp-block-fv-children-live .slider-block .slide,
	.wp-block-fv-children-live .slider-block .slide img {
		height: 500px;
	}
	.wp-block-fv-children-live.city-template h2 {
		width: 500px;
		margin: 0 auto;
		margin-bottom: 40px;
	}
	.wp-block-fv-children-live.city-template .card-tab {
		width: 100%;
	}
	.wp-block-fv-children-live .slider-tab1-1-thumbnail,
	.wp-block-fv-children-live .slider-tab2-1-thumbnail,
	.wp-block-fv-children-live .slider-tab3-1-thumbnail,
	.wp-block-fv-children-live .slider-space-thumbnail {
		margin: 0 -2.5px;
		display: flex;
		margin-top: 10px;
	}
	.wp-block-fv-children-live .slider-tab1-1-thumbnail li,
	.wp-block-fv-children-live .slider-tab2-1-thumbnail li,
	.wp-block-fv-children-live .slider-tab3-1-thumbnail li {
		opacity: 0.5;
		width: 80px;
		height: 80px;
		margin: 0 2.5px;
		border-radius: 10px;
		overflow: hidden;
		transition: all 0.3s ease;
	}
	.wp-block-fv-children-live .slider-space-thumbnail li {
		opacity: 0.5;
		width: calc(14.28571% - 10px);
		height: 113px;
		margin: 0 5px;
		border-radius: 10px;
		overflow: hidden;
		transition: all 0.3s ease;
	}
	.wp-block-fv-children-live .slider-tab1-1-thumbnail li.active,
	.wp-block-fv-children-live .slider-tab2-1-thumbnail li.active,
	.wp-block-fv-children-live .slider-tab3-1-thumbnail li.active,
	.wp-block-fv-children-live .slider-space-thumbnail li.active {
		opacity: 1;
		transition: all 0.3s ease;
	}
	.wp-block-fv-children-live .slider-tab1-1-thumbnail li img,
	.wp-block-fv-children-live .slider-tab2-1-thumbnail li img,
	.wp-block-fv-children-live .slider-tab3-1-thumbnail li img,
	.wp-block-fv-children-live .slider-space-thumbnail li img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}
@media (min-width: 820px) {
	.wp-block-fv-children-live .select-block .select-ul {
		gap: 20px;
	}
	.wp-block-fv-children-live .item-tab .left-block {
		gap: 20px;
		margin-bottom: 20px;
	}
	.wp-block-fv-children-live .card-tab {
		width: calc(50% - 10px);
		padding-left: 30px;
		padding-bottom: 30px;
		padding-top: 60px;
		padding-right: 30px;
	}
	.wp-block-fv-children-live .card-tab > p {
		font-size: 20px;
		line-height: 24.2px;
	}
	.wp-block-fv-children-live .select-block .select-ul li {
		font-size: 20px;
		line-height: 24px;
	}

	.wp-block-fv-children-live h2 {
		font-size: 32px;
		line-height: 38px;
		margin-bottom: 40px;
	}
	.wp-block-fv-children-live .slider-block .slide span {
		font-size: 20px;
		line-height: 24px;
		bottom: 30px;
		min-width: 180px !important;
		width: auto;
		height: 48px;
		padding-left: 20px;
		padding-right: 20px;
		box-sizing: border-box;
	}

	.wp-block-fv-children-live.skills-academy .slider-block .slide img {
		object-position: center;
	}
	.wp-block-fv-children-live.city-template h2 {
		width: 700px;
	}
}
@media (min-width: 1025px) {
	.wp-block-fv-children-live .item-tab .left-block {
		flex-direction: column;
		width: 500px;
		margin-bottom: 0;
		gap: 10px;
	}
	.wp-block-fv-children-live .card-tab {
		width: 100%;
		padding-left: 20px;
		padding-top: 43px;
		padding-bottom: 20px;
	}
	.wp-block-fv-children-live .card-tab > span {
		font-size: 16px;
		line-height: 19.2px;
		width: auto;
		padding-left: 28px;
		padding-right: 28px;
	}
	.wp-block-fv-children-live .card-tab > p {
		font-size: 22px;
		line-height: 26.4px;
	}
	.wp-block-fv-children-live .card-tab > p:last-child {
		font-size: 16px;
		line-height: 24px;
	}
	.wp-block-fv-children-live .item-tab {
		flex-direction: row;
		gap: 20px;
	}
	.wp-block-fv-children-live .slider-container {
		flex: 1;
	}
	.wp-block-fv-children-live .slider-container .slider-box {
		height: 624px;
	}
	.wp-block-fv-children-live .slider-block {
		height: 624px;
	}
	.wp-block-fv-children-live .slider-block .slide {
		height: 624px;
	}
	.wp-block-fv-children-live .select-block .select-ul li {
		font-size: 22px;
		line-height: 26.2px;
	}
	.wp-block-fv-children-live h2 {
		font-size: 42px;
		line-height: 50.4px;
		margin-bottom: 40px;
	}
	.wp-block-fv-children-live .slider-block .slide img {
		height: 100%;
		border-radius: 30px;
	}
	.wp-block-fv-children-live .slider-block .slide span {
		left: 30px;
		transform: translate(0px);
		font-size: 22px;
		line-height: 26px;
	}
	.wp-block-fv-children-live .card-tab:nth-child(2) p:last-child {
		padding-right: 50px;
		box-sizing: border-box;
	}
	.wp-block-fv-children-live.skills-academy .card-tab:nth-child(4) p:last-child {
		padding-right: 100px;
		box-sizing: border-box;
	}
	.wp-block-fv-children-live.art-community .card-tab:nth-child(4) p {
		padding-right: 90px;
	}
	.wp-block-fv-children-live.city-template h2 {
		width: 1050px;
	}
	.wp-block-fv-children-live.city-template .card-tab {
		height: 231px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
	.wp-block-fv-children-live.city-template .item-tab .left-block {
		width: calc(50% - 10px);
	}
	.wp-block-fv-children-live.city-template .item-tab .right-block {
		width: calc(50% - 10px);
	}
}
