:root {
	--white: #ffffff;
	--green: #30a933;
	--mediumGray: #8f8f8f;
	--darkGray: #535353;
	--dark: #423c3c;
	--hintGray: #f5f5f7;
	--lightGray: #dddddd;
	--red: #e94e4e;
	--artRed: #e82e2e;
	--border: #c3c3c3;
	--blue: #7b8bff;
}

.wrapper {
	margin: 0 auto;
	max-width: calc(1280px + 6%);
	padding: 0 3%;
}

.wp-block-fv-widget-reviews .widget-block {
	min-height: 425px;
	background-color: aqua;
}

.wp-block-fv-course-description .components-button {
	top: 20px;
	left: 20px;
	position: absolute;
	background-color: transparent;
}
.wp-block-fv-course-description .components-button .svg-icon-wrapper {
	top: 0;
	left: 0;
}
.wp-block-fv-program-modal-visible .block-editor-inner-blocks .modal-steps-form {
	width: 100%;
	padding: 0;
}
.wp-block-post-content .wp-block-fv-item-card-skills,
.wp-block-post-content .wp-block-fv-item-card,
.wp-block-post-content .wp-block-fv-item-merch {
	position: initial;
}

#random-posts-container.random-posts .item-card {
	width: 305px;
}

.wp-block.wp-block-fv-program-modal-with-city.hidden-model .modal-wrapper,
.wp-block.wp-block-fv-program-modal.hidden-model .modal-wrapper {
	opacity: 1;
	z-index: 999;
	position: initial;
}
/* Для Chrome, Safari, Edge */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0px 1000px var(--hintGray) inset;
	transition: background-color 5000s ease-in-out 0s;
}

/* Для Firefox */
input:autofill,
input:autofill:hover,
input:autofill:focus,
textarea:autofill,
textarea:autofill:hover,
textarea:autofill:focus {
	box-shadow: 0 0 0px 1000px var(--hintGray) inset;
	transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:autofill,
input:autofill:hover,
input:autofill:focus {
	-webkit-text-fill-color: var(--darkGray);
}

input:-internal-autofill-selected {
	appearance: menulist-button;
	background-image: none !important;
	background-color: var(--hintGray) !important;
	color: var(--darkGray) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0px 1000px var(--white) inset;
	transition: background-color 5000s ease-in-out 0s;
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
textarea:autofill,
textarea:autofill:hover,
textarea:autofill:focus {
	box-shadow: 0 0 0px 1000px var(--white) inset;
	transition: background-color 5000s ease-in-out 0s;
}

input:-internal-autofill-selected {
	appearance: menulist-button;
	background-image: none !important;
	background-color: var(--white) !important;
	color: var(--darkGray) !important;
}
