/* Для ПК */
@media (min-width: 1025px) {
	.label-card-first-block {
		position: absolute;
		right: 40px;
		top: 200px;
		padding: 20px 30px;
		line-height: 1.5;
		font-size: 18px;
		box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.7);
		transition: all 0.3s ease;
	}
	.label-card-first-block:hover {
		box-shadow: 5px 5px 15px rgba(48, 169, 51, 0.7);
		transition: all 0.3s ease;
	}

	#menu-header-menu .menu-item:nth-child(2) a {
		transition: all 0.3s ease;
		position: relative;
	}
	#menu-header-menu .menu-item:nth-child(2) a:hover {
		background-color: transparent;
		transition: all 0.3s ease;
	}

	.design-website {
		padding-left: 75%;
	}
	.wp-block-fv-footer-block .logo {
		width: 20%;
	}
	.footer-menu {
		width: 15%;
		order: 2;
	}
	.directions-menu {
		width: 20%;
		order: 3;
	}
	.documents-menu {
		width: 20%;
		order: 4;
		margin-bottom: 0;
		padding-left: 0;
	}
	.wp-block-fv-footer-block .right-info {
		width: 20%;
		order: 5;
	}
	.wp-block-fv-key-points h2 {
		font-size: 42px;
		line-height: 50.4px;
		max-width: 660px;
		margin: 0 auto;
		margin-bottom: 40px;
	}

	.bg-image {
		display: none;
	}
	.bg-image-desktop {
		display: block;
	}

	.menu-icon {
		display: none;
	}
	.right .phone-number {
		line-height: 19.6px;
		font-family: "Montserrat";
		font-size: 14px;
		line-height: 19px;
		font-weight: 500;
		color: var(--white);
		display: block;
		transition: all 0.3s ease;
	}
	
	.right .phone-number:hover {
		color: var(--green);
		transition: all 0.3s ease;
	}
	.wp-block-fv-header-block.active .right .phone-number {
		display: none;
	}
	.menu-for-desktop {
		display: block;
	}
	.menu-for-desktop .menu-header-menu-container {
		margin-bottom: 0;
	}
	.menu {
		display: flex;
		align-items: center;
	}
	.menu > .menu-item > a {
		color: var(--white);
	}
	
	.wp-block-fv-header-block.active .menu > .menu-item > a {
		color: var(--darkGray);
	}
	.menu > .menu-item {
		margin-right: 33px;
		margin-bottom: 0;
	}
	.menu > .menu-item:last-child {
		margin-right: 0;
	}
	.menu > .menu-item.menu-item-has-children > a:before {
		border-top: 4px solid var(--white);
	}
	
	.wp-block-fv-header-block.active .menu > .menu-item.menu-item-has-children > a:before {
		border-top: 4px solid var(--darkGray);
	}
	.menu > .menu-item > .sub-menu {
		height: 0;
		overflow: hidden;
		background-color: var(--white);
		border-radius: 15px;
		padding: 0px;
		position: absolute;
		top: 30px;
		left: 50%;
		transform: translateX(-50%);
		box-sizing: border-box;
	}
	.wp-block-fv-header-block.active .menu > .menu-item > .sub-menu {
		background-color: rgba(255, 255, 255, 0.8);
		backdrop-filter: blur(14px);
	}
	.menu > .menu-item.menu-item-has-children.no-active > a:before {
		border-top: 4px solid var(--green);
	}
	.menu > .menu-item > .sub-menu.no-active {
		padding: 25px 25px;
		height: auto;
		width: 250px;
	}
	.menu > .menu-item.menu-item-has-children {
		margin-right: 48px;
		position: relative;
	}
	.menu > .menu-item > .sub-menu > .menu-item {
		text-align: center;
		margin-bottom: 12px;
	}
	.menu > .menu-item > .sub-menu > .menu-item:last-child {
		margin-bottom: 0;
	}
	.menu > .menu-item > .sub-menu > .menu-item > a {
		font-size: 14px;
		line-height: 19px;
	}

	.wp-block-fv-header-block .wrapper-header {
		padding-left: 3%;
		padding-right: 3%;
	}

	.leave-application.red:hover {
		transition: all 0.3s ease;
		background-color: var(--green);
	}

	.slider-tabs-video h2 .highlight:before {
		font-size: 14px;
		line-height: 21px;
		left: 27px;
		top: -7px;
	}

	.skills-academy .leave-application.green:hover {
		transition: all 0.3s ease;
		background-color: var(--blue);
	}

	.wp-block-fv-link-camp .item:nth-child(2):hover span:before {
		color: var(--white);
		transition: all 0.3s ease;
	}

	.slider-tabs-video.reviews-section.blue-template h2 {
		width: 900px;
	}
	.wp-block-fv-steps-parents.skills-academy .item:nth-child(3) p::after {
		display: block;
	}

	.wp-block-fv-link-camp.art-community .item:nth-child(3):hover span:before {
		color: var(--white);
	}

	.red-template.slider-tabs-video h2 {
		width: 850px;
	}

	.slider-tabs-video.reviews-section.skills-template h2 {
		width: 1000px;
	}

	.wp-block-fv-link-camp.city-template .item:nth-child(3):hover span:before {
		color: var(--white);
		transition: all 0.3s ease;
	}
	.wp-block-fv-link-camp.city-template .item:nth-child(3) span:before {
		top: -14px;
		left: 0px;
		font-size: 12px;
		line-height: 18px;
		transition: all 0.3s ease;
	}

	.city-template.slider-tabs-video.reviews-section h2 {
		width: 1150px;
	}

	.container-step-tabs .second-block {
		display: block;
	}
	.container-step-tabs .second-block .city-image {
		width: 480px;
		height: 458px;
		object-fit: cover;
		object-position: center;
		border-radius: 20px;
		transform: rotate(2.2deg);
		position: absolute;
		top: 30px;
		right: 30px;
	}

	.wp-block-fv-text-block h1 {
		font-size: 66px;
		line-height: 72px;
		margin-bottom: 30px;
		width: 70%;
	}
	.wp-block-fv-text-block p strong {
		font-size: 22px;
		margin-top: 10px;
		display: block;
	}
	.wp-block-fv-text-block h2 strong,
	.wp-block-fv-text-block h3 strong {
		font-size: 22px;
	}
	.wp-block-fv-text-block p {
		margin-bottom: 3px;
		color: var(--darkGray);
		font-size: 16px;
		line-height: 24px;
		font-family: "Montserrat";
		font-weight: 500;
	}
	.error404 .menu > .menu-item > a,
	.page-id-549 .menu > .menu-item > a,
	.page-id-2374 .menu > .menu-item > a,
	.page-id-23415 .menu > .menu-item > a,
	.page-id-23417 .menu > .menu-item > a,
	.page-id-26632 .menu > .menu-item > a,
	.page-id-26630 .menu > .menu-item > a,
	.privacy-policy .menu > .menu-item > a {
		color: var(--darkGray);
	}
	.error404 .menu > .menu-item.menu-item-has-children > a:before,
	.page-id-549 .menu > .menu-item.menu-item-has-children > a:before,
	.page-id-23415 > .menu-item.menu-item-has-children > a:before,
	.page-id-23417 > .menu-item.menu-item-has-children > a:before,
	.page-id-26632 > .menu-item.menu-item-has-children > a:before,
	.page-id-26630 > .menu-item.menu-item-has-children > a:before,
	.page-id-2374 .menu > .menu-item.menu-item-has-children > a:before,
	.privacy-policy .menu > .menu-item.menu-item-has-children > a:before {
		border-top: 4px solid var(--darkGray);
	}
	.error404 .social-icons a svg path:nth-child(1),
	.error404 .social-icons a svg g path,
	.page-id-549 .social-icons a svg path:nth-child(1),
	.page-id-549 .social-icons a svg g path,
	.page-id-23415 .social-icons a svg path:nth-child(1),
	.page-id-23415 .social-icons a svg g path,
	.page-id-23417 .social-icons a svg path:nth-child(1),
	.page-id-23417 .social-icons a svg g path,
	.page-id-26632 .social-icons a svg path:nth-child(1),
	.page-id-26632 .social-icons a svg g path,
	.page-id-26630 .social-icons a svg path:nth-child(1),
	.page-id-26630 .social-icons a svg g path,
	.page-id-2374 .social-icons a svg path:nth-child(1),
	.page-id-2374 .social-icons a svg g path,
	.privacy-policy .social-icons a svg path:nth-child(1),
	.privacy-policy .social-icons a svg g path {
		fill: var(--green);
	}
	.error404 .social-icons a svg path:nth-child(2),
	.page-id-549 .social-icons a svg path:nth-child(2),
	.page-id-23415 .social-icons a svg path:nth-child(2),
	.page-id-23417 .social-icons a svg path:nth-child(2),
	.page-id-26632 .social-icons a svg path:nth-child(2),
	.page-id-26630 .social-icons a svg path:nth-child(2),
	.page-id-2374 .social-icons a svg path:nth-child(2),
	.privacy-policy .social-icons a svg path:nth-child(2) {
		fill: var(--white);
	}
	.error404 .social-icons a svg g,
	.page-id-549 .social-icons a svg g,
	.page-id-23415 .social-icons a svg g,
	.page-id-23417 .social-icons a svg g,
	.page-id-26632 .social-icons a svg g,
	.page-id-26630 .social-icons a svg g,
	.page-id-2374 .social-icons a svg g,
	.privacy-policy .social-icons a svg g {
		mask: none;
	}
	.wp-block-fv-footer-block .menu > .menu-item {
		margin-bottom: 5px;
	}

	.wp-block-fv-steps-parents.art-community .container {
		justify-content: center;
	}
	.wp-block-fv-steps-parents.art-community .wrapper .block > svg {
		margin-left: 160px;
		margin-bottom: -10px;
	}
	.wp-block-fv-steps-parents.art-community .item:nth-child(3)::before {
		display: none;
	}

	.wp-block-fv-header-block.active .social-icons {
		display: flex;
	}

	.slider-tabs-video.reviews-section.proftest-template h2 {
		width: 1000px;
		margin-bottom: 20px;
	}
	.wp-block-fv-header-block.active .right .btn-title {
		transition: all 0.3s ease;
	}
	.wp-block-fv-header-block.active .right .btn-title:hover {
		background-color: var(--green);
		transition: all 0.3s ease;
	}

	.skills-course .result-content-filter {
		margin-top: 14px;
	}
	.social-icons .in-merch {
		cursor: pointer;
	}

	.wp-block-fv-download-file h2 {
		font-size: 42px;
		line-height: 50.4px;
	}

	.wp-block-fv-image-block .container-image .item-block {
		width: calc(33.33333% - 14px) !important;
		height: 486px;
	}
	.wp-block-fv-image-block .container-image .item-block:last-child span {
		width: 90%;
		padding-left: 0;
		padding-right: 0;
	}
	.wp-block-fv-image-block h2 {
		width: 750px;
		font-size: 42px;
		line-height: 50.4px;
	}

	.wp-block-fv-modal-cart .btn-block .send-btn {
		cursor: pointer;
		transition: all 0.3s ease;
	}
	.wp-block-fv-modal-cart .btn-block .send-btn:hover {
		transition: all 0.3s ease;
		background-color: var(--red);
	}
	.right-item-cart .qty .btn-qty {
		cursor: pointer;
	}
	.wp-block-fv-modal-cart .checkbox input[type="checkbox"] {
		margin-top: 3px;
	}
	.change-item {
		margin-bottom: 20px;
	}
	.bottom-block-merch .change-item {
		margin-bottom: 0px;
	}
	.leave-application.buy-order {
		width: 260px;
	}

	.gallery-slider-merch.slider-block .slide {
		height: 555px;
	}

	.container-block-for-video {
		height: 570px;
	}
	.svg-container {
		width: calc(100% - 360px);
	}

	.wp-block-fv-photo-and-steps-place.events-template .wrapper > p {
		font-size: 16px;
		line-height: 20px;
	}

	.container-block-family picture {
		display: block;
	}

	.green-container {
		padding: 30px;
	}
	.green-container p {
		font-size: 22px;
		line-height: 26px;
		margin-bottom: 20px;
	}
	.green-container a {
		font-size: 22px;
		line-height: 26px;
	}

	

	/* КОД ДЛЯ СЛАЙДЕРА */
	.slider-block img {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-touch-callout: none;
		-webkit-tap-highlight-color: transparent;
	}
	.slider-team-block.slider-block .slide img {
		height: 410px;
	}
}
