.play-video {
	display: none !important;
}
.item-card {
	width: calc(50% - 5px);
	border-radius: 15px;
	background-color: var(--hintGray);
	box-sizing: border-box;
	padding-bottom: 19px;
	padding-top: 27px;
	padding-left: 3px;
	padding-right: 3px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 21px;
	position: relative;
	justify-content: space-between;
}
.wp-block-fv-program-modal.modal-steps-form .modal-content .label-class {
	display: none;
}
.item-card .date-card,
.item-card .place-card,
.item-card .ages-card,
.item-card .days-card {
	font-size: 12px;
	line-height: 110%;
	color: rgba(83, 83, 83, 0.8);
	font-family: "Montserrat";
	font-weight: 500;
	display: block;
}
.item-card .date-card {
	margin-bottom: 3px;
}
.item-card .place-card {
	margin-bottom: 23px;
	text-align: center;
}
.item-card .days-card {
	margin-bottom: 3px;
}
.item-card .title-card {
	font-size: 18px;
	line-height: 110%;
	color: var(--green);
	font-family: "Montserrat";
	font-weight: 600;
	text-align: center;
	margin-bottom: 3px;
	cursor: pointer;
}
.item-card .price-card {
	font-size: 16px;
	line-height: 130%;
	color: var(--darkGray);
	font-family: "Montserrat";
	font-weight: 600;
	display: block;
	margin-bottom: 10px;
}
.item-card .label-card {
	font-size: 14px;
	line-height: 130%;
	color: var(--green);
	font-family: "Montserrat";
	font-weight: 500;
	border-radius: 30px;
	border: 1px solid var(--green);
	height: 28px;
	width: calc(100% - 10%);
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--white);
	position: absolute;
	top: -14px;
	box-sizing: border-box;
}
.item-card.career-camp:before {
	content: "Программа";
	font-size: 10px;
	line-height: 150%;
	color: rgba(143, 143, 143, 0.7);
	font-family: "Montserrat";
	font-weight: 500;
	display: block;
	position: absolute;
	top: -31px;
}
.item-card.skills-academy:before {
	content: "Программа";
	font-size: 10px;
	line-height: 150%;
	color: rgba(143, 143, 143, 0.7);
	font-family: "Montserrat";
	font-weight: 500;
	display: block;
	position: absolute;
	top: -31px;
}
.item-card button {
	outline: none;
	border: none;
	background-color: transparent;
	padding: 0;
	margin: 0;
}
.item-card button.modal-form,
.item-card button.modal-form-merch {
	color: var(--white);
	font-family: "Montserrat";
	font-weight: 500;
	letter-spacing: -0.5px;
	border-radius: 30px;
	width: calc(100% - 6%);
	height: 34px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}
.item-card button.modal-form.green,
.item-card button.modal-form-merch.green {
	font-size: 12px;
	line-height: 110%;
	background-color: var(--green);
}
.item-card button.modal-form.red {
	font-size: 10px;
	line-height: 110%;
	background-color: var(--red);
}
.item-card button.more {
	font-size: 14px;
	line-height: 100%;
	font-family: "Montserrat";
	font-weight: 500;
	letter-spacing: -0.5px;
	display: flex;
	align-items: center;
	position: relative;
}


.item-card button.more:before {
	content: "";
	width: 100%;
	height: 1px;
	position: absolute;
	bottom: 0;
	display: block;
}
.item-card button.more.green {
	color: var(--green);
}
.item-card button.more.red {
	color: var(--red);
}
.item-card button.more svg {
	transform: rotate(-180deg);
	margin-left: 3px;
}
.item-card button.more.green:before {
	background-color: var(--green);
}
.item-card button.more.green svg path {
	fill: var(--green);
}
.item-card button.more.red:before {
	background-color: var(--red);
}
.item-card button.more.red svg path {
	fill: var(--red);
}
.item-card .item-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.item-card .top-item-section {
	margin-bottom: 5px;
}
.item-card button.more.red:active {
	color: var(--green);
}
.item-card button.more.red:active svg path {
	fill: var(--green);
}
.item-card button.more.red:active:before {
	background-color: var(--green);
}
.item-card button.more.green:active {
	color: var(--red);
}
.item-card button.more.green:active svg path {
	fill: var(--red);
}
.item-card button.more.green:active:before {
	background-color: var(--red);
}
.item-card button.modal-form.green:active,
.item-card button.modal-form-merch.green:active {
	background-color: var(--red);
}
.item-card button.modal-form.red:active {
	background-color: var(--green);
}
.view-services {
	margin-bottom: 0;
}
.wp-block-fv-first-block .wrapper {
	padding-bottom: 20px;
}



.wrapper > h2 {
	font-size: 22px;
	line-height: 100%;
	margin-bottom: 10px;
	letter-spacing: -0.22px;
	color: var(--darkGray);
	font-family: "Montserrat";
	font-weight: 600;
	text-align: center;
}
.wrapper > p {
	text-align: center;
	font-size: 14px;
	line-height: 130%;
	font-family: "Montserrat";
	font-weight: 500;
	color: rgba(83, 83, 83, 0.8);
	margin-bottom: 20px;
}


.checkbox {
	display: flex;
	align-items: flex-start;
	cursor: pointer;
	gap: 10px;
}
.checkbox input[type="checkbox"] {
	appearance: none;
	-webkit-appearance: none;
	width: 19px;
	height: 19px;
	box-sizing: border-box;
	border: 1px solid var(--dark);
	border-radius: 3px;
	margin: 0;
	cursor: pointer;
	position: relative;
}
.checkbox input[type="checkbox"]:checked {
	background-color: var(--green);
	border-color: var(--green);
}
.checkbox input[type="checkbox"]:checked::after {
	content: "";
	position: absolute;
	left: 6px;
	top: 3px;
	width: 4px;
	height: 8px;
	border: solid var(--white);
	border-width: 0 1px 1px 0;
	transform: rotate(45deg);
}

.wp-block-fv-text {
	margin-top: 20px;
}
.wp-block-fv-text .wrapper p {
	max-width: 100%;
}

.wrapper > p a {
	text-align: center;
	font-size: 14px;
	line-height: 130%;
	font-family: "Montserrat";
	font-weight: 500;
	color: rgba(83, 83, 83, 0.8);
	border-bottom: 1px solid rgba(83, 83, 83, 0.8);
}

.wp-block-fv-program-modal.modal-steps-form {
	margin-bottom: 0px;
}
.wp-block-fv-program-modal.modal-steps-form .modal-wrapper {
	opacity: 1;
	position: initial;
	background-color: var(--white);
	padding: 0;
	box-sizing: border-box;
}
.wp-block-fv-program-modal.modal-steps-form .modal-wrapper .close-modal {
	display: none;
}
.wp-block-fv-program-modal.modal-steps-form .modal-content {
	box-shadow: none;
	border-radius: 0px;
	max-width: 100%;
	padding: 0;
}
.wp-block-fv-program-modal.modal-steps-form .container-step {
	background-color: #f5f5f7;
	border-radius: 30px;
	overflow: hidden;
	padding: 20px;
	box-sizing: border-box;
	border: 1px solid #f4f4f4;
}
.wp-block-fv-program-modal.modal-steps-form .modal-content input[type="text"],
.wp-block-fv-program-modal.modal-steps-form .modal-content input[type="email"],
.wp-block-fv-program-modal.modal-steps-form .modal-content input[type="tel"] {
	background-color: var(--white);
}
.wp-block-fv-program-modal.modal-steps-form .modal-content .back {
	background-color: rgba(255, 255, 255, 0.5);
}
/* .wp-block-fv-program-modal.modal-steps-form .modal-content .back.back-step {
	background-color: rgba(255, 255, 255, 1);
} */
.wp-block-fv-program-modal.modal-steps-form .modal-content .fronted .btn-block {
	margin-top: 10px;
}
.wp-block-fv-program-modal.modal-steps-form .modal-content .label-class {
	margin-bottom: 11px;
}

.modal-content {
	background-color: var(--white);
	border-radius: 20px;
	position: relative;
	max-width: 90%;
	width: 100%;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	padding-bottom: 50px;
	padding-top: 100px;
}

.modal-content .next {
	background-color: var(--green);
	border: none;
	outline: none;
	width: 190px;
	height: 46px;
	font-size: 14px;
	line-height: 110%;
	letter-spacing: -0.36px;
	color: var(--white);
	font-family: "Montserrat";
	font-weight: 500;
	border-radius: 30px;
	cursor: pointer;
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
	padding-left: 17px;
	position: relative;
	transition: all 0.3s ease;
	box-sizing: border-box;
}

.modal-content .next:disabled {
	opacity: 0.5;
	cursor: no-drop;
	pointer-events: none;
}

.modal-content .next:hover {
	transition: all 0.3s ease;
	background-color: #e94e4e;
	padding-left: 55px;
}

.modal-content .next:hover span {
	right: calc(100% - 43px);
	transition: all 0.3s ease;
}

.modal-content .next span {
	position: absolute;
	top: 50%;
	right: 11px;
	transform: translateY(-50%);
	border-radius: 50%;
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease;
	background-color: var(--white);
}
.modal-content .next span svg path {
	transition: all 0.3s ease;
}
.modal-content .next:hover span svg path {
	transition: all 0.3s ease;
	fill: #e94e4e;
}
.modal-content .next:active {
	background-color: var(--red);
	transition: all 0.3s ease;
}
.modal-content .next:active span svg path {
	fill: var(--red);
	transition: all 0.3s ease;
}
.modal-content .title-modal {
	font-size: 22px;
	line-height: 120%;
	color: var(--darkGray);
	font-family: "Montserrat";
	font-weight: 600;
	text-align: center;
	max-width: 280px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 20px;
}
.close-modal,
.close-response,
.close-modal-video,
.close-slider-modal {
	position: absolute;
	top: 20px;
	right: 20px;
	border-radius: 6px;
	background-color: var(--hintGray);
	width: 38px;
	height: 38px;
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	cursor: pointer;
}
.close-modal-video,
.close-slider-modal {
	z-index: 99999;
}
.close-modal:before,
.close-response:before,
.close-modal-video:before,
.close-slider-modal:before {
	content: "";
	transform: translate(-50%, -50%) rotate(45deg);
	background-color: var(--red);
	height: 1px;
	width: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
}
.close-modal:after,
.close-response:after,
.close-modal-video:after,
.close-slider-modal:after {
	content: "";
	transform: translate(-50%, -50%) rotate(-45deg);
	background-color: var(--red);
	height: 1px;
	width: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
}
.modal-content input[type="text"],
.modal-content input[type="email"],
.modal-content input[type="tel"] {
	width: 100%;
	height: 58px;
	padding-left: 10px;
	border-radius: 10px;
	background-color: var(--hintGray);
	border: 1px solid transparent;
	box-sizing: border-box;
	color: var(--darkGray);
	font-family: "Montserrat";
	font-weight: 400;
	font-size: 14px;
	line-height: 130%;
	margin-bottom: 10px;
	padding-right: 10px;
	outline: none;
	transition: all 0.3s ease;
}
.modal-content input[type="text"]:focus-visible,
.modal-content input[type="email"]:focus-visible,
.modal-content input[type="tel"]:focus-visible {
	border: 1px solid var(--green);
	transition: all 0.3s ease;
}
.modal-content input[type="text"].error,
.modal-content input[type="email"].error,
.modal-content input[type="tel"].error {
	border: 1px solid var(--red);
	transition: all 0.3s ease;
}
.modal-content .subtitle-step {
	color: var(--mediumGray);
	font-family: "Montserrat";
	font-weight: 500;
	font-size: 14px;
	line-height: 150%;
	display: block;
	margin-bottom: 5px;
	width: 100%;
	text-align: center;
}
.modal-content .title-step {
	color: var(--green);
	font-family: "Montserrat";
	font-weight: 600;
	font-size: 16px;
	line-height: 120%;
	display: block;
	margin-bottom: 20px;
	width: 100%;
	text-align: center;
}
.btn-block {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.modal-content .back {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--hintGray);
	border-radius: 30px;
	transition: all 0.3s ease;
}
.modal-content .back.back-step:active {
	background-color: var(--red);
	transition: all 0.3s ease;
}
.modal-content .back.back-step:active svg path {
	fill: var(--white);
	transition: all 0.3s ease;
}
.modal-content .back svg {
	transform: rotate(-180deg);
}
.modal-content .back svg path {
	fill: var(--red);
	transition: all 0.3s ease;
}
.modal-content .back.disabled svg {
	opacity: 0.5;
}
.modal-content .checkbox {
	margin-bottom: 5px;
}
.modal-content .checkbox .title {
	flex: 1;
}
.modal-content .checkbox .title,
.modal-content .label-class,
.modal-content .checkbox .title a {
	font-family: "Montserrat";
	font-weight: 400;
	font-size: 14px;
	line-height: 100%;
	color: var(--darkGray);
}
.modal-content .label-class {
	font-size: 10px;
	line-height: 110%;
	display: block;
	margin-bottom: 20px;
	margin-left: 20px;
}
.modal-content .checkbox .title a {
	text-decoration: underline solid;
	text-decoration-skip-ink: none;
}
.modal-content .checkbox input[type="checkbox"] {
	width: 14px;
	height: 14px;
	/* margin-top: 3px; */
}
.modal-steps-form .modal-content .checkbox input[type="checkbox"] {
	margin-top: 0px;
}
.modal-content .checkbox {
	gap: 6px;
}
.modal-content .checkbox input[type="checkbox"]:checked::after {
	content: "";
	position: absolute;
	left: 4px;
	top: 1px;
	width: 3px;
	height: 6px;
	border: solid var(--white);
	border-width: 0 1px 1px 0;
	transform: rotate(45deg);
}
.container-step {
	width: 100%;
	box-sizing: border-box;
}
.modal-content .step {
	display: flex;
	flex-wrap: wrap;
	/* padding-left: 20px;
	padding-right: 20px; */
	box-sizing: border-box;
	/* position: absolute; */
	width: 100%;
	/* top: 0;
	left: 0;
	transition: 1s;
	backface-visibility: hidden; */
}

.city-checkbox {
	display: flex;
	align-items: center;
}
.container-step .step.backend {
	opacity: 0;
	height: 0;
	overflow: hidden;
	transition: opacity 0.3s ease;
}
.container-step .step.fronted {
	opacity: 1;
	height: auto;
	overflow: initial;
	transition: opacity 0.3s ease;
}
.container-step.active .step.fronted {
	opacity: 0;
	height: 0;
	overflow: hidden;
	transition: opacity 0.3s ease;
}
.container-step.active .step.backend {
	opacity: 1;
	height: auto;
	overflow: initial;
	transition: opacity 0.3s ease;
}
.modal-content input[type="email"] {
	width: calc(50% - 5px);
	margin-right: 10px;
}
.modal-content input[type="tel"] {
	width: calc(50% - 5px);
}
.modal-content input[name="parentName2"] {
	width: calc(50% - 5px);
	margin-right: 10px;
}
.modal-content input[name="parentName3"] {
	width: calc(50% - 5px);
}

.wp-block-fv-test-drive-updated {
	margin-bottom: 75px;
}

.modal-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2); /* Полупрозрачный фон */
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(6px);
	opacity: 0;
	transition: opacity 0.3s ease;
	z-index: -999;
}

.wp-block-fv-program-modal-visible .img-visible {
	display: none;
}

.wp-block-fv-program-modal-visible {
	margin-bottom: 75px;
}

.wp-block-fv-item-card .bg-image {
	display: none;
}

.wp-block-fv-item-card .bg-image-mobile {
	display: block;
}

.wp-block-fv-item-card .go-back-btn {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 38px;
	height: 38px;
	background-color: var(--hintGray);
	border-radius: 6px;
	outline: none;
	border: none;
	overflow: hidden;
	position: relative;
	color: transparent;
}

.wp-block-fv-item-card .go-back-btn svg {
	display: none;
}

.leave-application.red {
	background-color: var(--red);
	font-size: 14px;
	line-height: 110%;
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
}

.wp-block-fv-item-card {
	position: fixed;
	overflow-y: scroll;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 9999;
	background: var(--white);
}
.wp-block-fv-item-card .wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-bottom: 50px;
}
.wp-block-fv-item-card .left-img {
	margin-bottom: 20px;
}
.wp-block-fv-item-card .left-img .img-for-block {
	width: 100%;
	height: auto;
	border-radius: 20px;
	overflow: hidden;
	object-fit: cover;
	object-position: center;
	position: initial;
}
.wp-block-fv-item-card .city-label,
.wp-block-fv-item-card .count-days,
.wp-block-fv-item-card .camp-section {
	display: none;
}

.wp-block-fv-item-card .left-img p {
	font-size: 14px;
	line-height: 110%;
	font-weight: 500;
	font-family: "Montserrat";
	color: var(--mediumGray);
	margin-top: 20px;
}

.wp-block-fv-item-card .age-checkboxes {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	margin-bottom: 40px;
}

.wp-block-fv-item-card .right-content > .title span {
	font-size: 22px;
	line-height: 110%;
	color: var(--green);
	font-family: "Montserrat";
	font-weight: 600;
	display: block;
	margin-bottom: 10px;
}
.wp-block-fv-item-card .right-content .info-date {
	font-size: 16px;
	line-height: 110%;
	color: var(--darkGray);
	font-family: "Montserrat";
	font-weight: 600;
	margin-bottom: 5px;
}
.wp-block-fv-item-card .right-content > span {
	font-size: 16px;
	line-height: 110%;
	color: var(--darkGray);
	font-family: "Montserrat";
	font-weight: 600;
	display: block;
	margin-bottom: 20px;
}
.wp-block-fv-item-card .right-content p {
	font-size: 14px;
	line-height: 110%;
	color: var(--mediumGray);
	font-family: "Montserrat";
	font-weight: 500;
	margin-bottom: 30px;
}

.wp-block-fv-item-card .price-card span {
	font-size: 22px;
	line-height: 130%;
	color: var(--green);
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	display: block;
	margin-bottom: 15px;
	display: flex;
	align-items: baseline;
}

.wp-block-fv-item-card .right-content p {
	font-size: 14px;
	line-height: 110%;
	color: var(--mediumGray);
	font-family: "Montserrat";
	font-weight: 500;
	margin-bottom: 30px;
}

.wp-block-fv-item-card .age-checkbox {
	font-size: 14px;
	line-height: 110%;
	color: var(--green);
	font-family: "Montserrat";
	font-weight: 500;
	text-align: center;
	width: 74px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--hintGray);
	border-radius: 30px;
}

.leave-application {
	color: var(--white);
	font-family: "Montserrat";
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 34px;
	border-radius: 34px;
	border: none;
	outline: none;
	margin-bottom: 20px;
	transition: all 0.3s ease;
	letter-spacing: -0.5px;
	padding: 0;
}
.leave-application.green {
	background-color: var(--green);
	font-size: 12px;
	line-height: 110%;
}
.random-posts-container {
	width: 100%;
}
.random-posts-container h3 {
	font-family: "Montserrat";
	font-weight: 600;
	font-size: 18px;
	line-height: 110%;
	color: var(--darkGray);
	margin-bottom: 40px;
}
.random-posts-container .random-posts {
	display: flex;
	flex-wrap: wrap;
	gap: 20px 10px;
}

.wp-block-fv-item-card .go-back-btn:before,
.wp-block-fv-item-card .go-back-btn:after {
	content: "";
	transform: translate(-50%, -50%) rotate(45deg);
	background-color: var(--red);
	height: 1px;
	width: 20px;
	transition: all 0.3s ease;
	position: absolute;
	top: 50%;
	left: 50%;
}
.wp-block-fv-item-card .go-back-btn:after {
	transform: translate(-50%, -50%) rotate(-45deg);
}

.city-checkbox {
	display: flex;
	gap: 10px;
	width: 100%;
}
.city-checkbox .checkbox {
	position: relative;
	display: inline-block;
	cursor: pointer;
	width: 50%;
	margin-bottom: 10px;
}
.city-checkbox .title {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 20px;
	background-color: var(--hintGray);
	border: 1px solid var(--green);
	border-radius: 10px;
	color: var(--darkGray);
	font-size: 12px;
	line-height: 18px;
	font-family: "Montserrat";
	font-weight: 400;
	text-align: center;
	transition: all 0.3s ease;
	width: 100%;
	box-sizing: border-box;
	height: 58px;
}
.city-checkbox input[type="radio"] {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}
.city-checkbox input[type="radio"]:checked + .title {
	background-color: var(--green);
	border-color: var(--green);
	color: white;
}
.wp-block-fv-program-modal-with-city.hidden-model .modal-content .step,
.test-drive-modal .modal-content .step {
	display: flex;
	flex-wrap: wrap;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
	width: 100%;
}



@media (min-width: 767px) {
	.wp-block-fv-program-modal-with-city.hidden-model .modal-content .step,
	.test-drive-modal .modal-content .step {
		padding-left: 108px;
		padding-right: 108px;
	}
	.modal-content .title-modal {
		font-size: 32px;
		line-height: 38.4px;
		font-family: "Montserrat";
		font-weight: 600;
		max-width: 580px;
		margin-bottom: 30px;
	}
	.test-drive-modal .modal-content,
	.wp-block-fv-program-modal-with-city.hidden-model .modal-content {
		max-width: 630px;
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.modal-content .checkbox .title,
	.modal-content .checkbox .title a {
		font-family: "Montserrat";
		font-weight: 400;
		font-size: 13px;
		line-height: 19.5px;
		letter-spacing: -0.5px;
		color: var(--darkGray);
	}
	.wrapper {
		padding: 0 3%;
	}
	.wp-block-fv-item-card .left-img .bg-image {
		display: none;
	}
	.wp-block-fv-item-card .left-img .bg-image-tablet {
		display: block;
	}

	.wp-block-fv-item-card .city-label,
	.wp-block-fv-item-card .count-days,
	.wp-block-fv-item-card .camp-section {
		display: block;
		font-size: 14px;
		line-height: 21px;
		color: var(--green);
		background-color: var(--white);
		font-family: "Montserrat";
		font-weight: 500;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 34px;
		border-radius: 38px;
	}
	.wp-block-fv-item-card .camp-section {
		padding: 0 16px;
		position: absolute;
		right: 20px;
		top: 20px;
	}
	.wp-block-fv-item-card .count-days {
		padding: 0 30px;
		position: absolute;
		right: 20px;
		top: 68px;
	}
	.wp-block-fv-item-card .city-label {
		padding: 0 30px;
		position: absolute;
		right: 20px;
		top: 116px;
	}
	.random-posts-container .random-posts,
	.see-posts-container {
		gap: 20px 20px;
	}
	.wp-block-fv-item-card .right-content p {
		margin-bottom: 20px;
	}
	.wp-block-fv-item-card .price-card span {
		margin-bottom: 10px;
	}
	.wp-block-fv-item-card .right-content > .title span {
		margin-bottom: 20px;
	}
	.wp-block-fv-item-card .age-checkboxes {
		margin-bottom: 20px;
	}
	.wp-block-fv-item-card .container {
		display: flex;
		gap: 20px;
		align-items: flex-start;
		width: 100%;
		margin-bottom: 40px;
	}
	.wp-block-fv-item-card .container .left-img {
		width: 50%;
		margin-bottom: 0;
		position: relative;
	}
	.wp-block-fv-item-card .container .right-content {
		width: 50%;
	}

	.item-card {
		max-width: 205px;
		width: 100%;
	}
	
	.wrapper > h2 {
		max-width: 570px;
		margin: 0 auto;
		margin-bottom: 10px;
	}
	.wp-block-fv-program-modal-visible .img-visible {
		display: block;
		width: calc(100% - 430px);
	}
	.wp-block-fv-program-modal-visible .container {
		display: flex;
		gap: 20px;
	}
	.wp-block-fv-program-modal.modal-steps-form {
		max-width: 410px;
		width: 100%;
	}
	.wp-block-fv-program-modal-visible .img-visible img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		border-radius: 20px;
	}
	

	
	.swiper-button-next:after,
	.swiper-rtl .swiper-button-prev:after,
	.swiper-button-prev:after,
	.swiper-rtl .swiper-button-next:after {
		display: none;
	}
	
	.swiper-button-next svg,
	.swiper-button-prev svg {
		width: auto;
		height: auto;
	}
	.swiper-button-next svg path,
	.swiper-button-prev svg path {
		stroke: #fff;
		transition: all 0.3s ease;
	}
}

@media (min-width: 820px) {
	.highlight::before {
		content: "Программа";
		position: absolute;
		top: -12px;
		left: 0px;
		color: var(--dark);
		opacity: 0.5;
		font-size: 10px;
		line-height: 15px;
		font-family: Montserrat;
		font-weight: 500;
	}
	
	.leave-application {
		width: 260px;
		height: 45px;
	}
	.wp-block-fv-item-card .age-checkbox {
		font-size: 16px;
		line-height: 150%;
	}
	.random-posts-container h3 {
		font-family: "Montserrat";
		font-weight: 600;
		font-size: 24px;
		line-height: 28.8px;
		color: var(--darkGray);
		margin-bottom: 40px;
	}
	.wp-block-fv-item-card .go-back-btn:after {
		display: none;
	}
	.wp-block-fv-item-card .wrapper {
		align-items: flex-start;
	}
	.wp-block-fv-item-card .go-back-btn:before {
		content: "";
		width: 100%;
		height: 1px;
		position: absolute;
		bottom: 2px;
		left: 0;
		top: auto;
		transform: translate(0, 0) rotate(0deg);
		display: block;
		background-color: var(--mediumGray);
	}
	.wp-block-fv-item-card .go-back-btn {
		margin-top: 20px;
		margin-bottom: 20px;
		width: 38px;
		height: 38px;
		background-color: var(--hintGray);
		border-radius: 6px;
		outline: none;
		border: none;
		overflow: hidden;
		position: relative;
		color: transparent;
		cursor: pointer;
	}
	.wp-block-fv-item-card .go-back-btn {
		width: auto;
		height: auto;
		color: var(--mediumGray);
		padding: 0;
		margin-bottom: 55px;
		background-color: transparent;
		font-size: 14px;
		line-height: 21px;
		position: relative;
		display: flex;
		align-items: baseline;
	}
	.wp-block-fv-item-card .price-card span {
		font-size: 32px;
		line-height: 110%;
	}
	.leave-application.green {
		font-size: 14px;
		line-height: 110%;
	}
	.wp-block-fv-item-card .right-content .info-date,
	.wp-block-fv-item-card .right-content > span {
		font-size: 18px;
		line-height: 110%;
	}
	.wp-block-fv-item-card .right-content > .title span {
		font-size: 32px;
		line-height: 120%;
	}
	
	.wrapper > h2 {
		font-size: 32px;
		max-width: 670px;
	}
	.wrapper > p {
		max-width: 670px;
		margin: 0 auto;
		margin-bottom: 40px;
	}
	

	.wp-block-fv-program-modal.modal-steps-form .container-step {
		padding: 30px 20px;
	}
	.modal-content .title-step {
		font-size: 20px;
	}
	.wp-block-fv-program-modal-visible {
		margin-bottom: 120px;
	}
	
}

@media (min-width: 1025px) {
	.wrapper {
		max-width: calc(1280px + 6%);
		padding: 0 3%;
	}
	.leave-application {
		height: 50px;
		cursor: pointer;
		margin-bottom: 20px;
		transition: all 0.3s ease;
	}
	.wp-block-fv-item-card .left-img .bg-image {
		display: none;
	}
	.wp-block-fv-item-card .left-img .bg-image-desktop {
		display: block;
	}
	.wp-block-fv-item-card .camp-section {
		right: 30px;
		top: 30px;
	}
	.wp-block-fv-item-card .count-days {
		right: 30px;
		top: 78px;
	}
	.wp-block-fv-item-card .camp-section {
		right: 30px;
		top: 30px;
	}
	.wp-block-fv-item-card .price-card span {
		font-size: 42px;
		margin-bottom: 20px;
	}
	.wp-block-fv-item-card .right-content p,
	.wp-block-fv-item-merch .right-content p {
		font-size: 16px;
		line-height: 130%;
	}
	.wp-block-fv-item-card .right-content .info-date,
	.wp-block-fv-item-card .right-content > span {
		font-size: 22px;
	}
	.wp-block-fv-item-card .right-content > .title span {
		font-size: 42px;
		margin-bottom: 10px;
		position: relative;
	}
	.wp-block-fv-item-card .go-back-btn {
		margin-top: 80px;
		margin-bottom: 40px;
		font-size: 16px;
		transition: all 0.3s ease;
		cursor: pointer;
	}
	.wrapper > h2 {
		font-size: 42px;
		max-width: 870px;
	}
	.item-card {
		width: calc(33.33333% - 13.4px);
		height: 400px;
		padding-top: 30px;
		padding-bottom: 30px;
		max-width: 100%;
	}
	.item-card .label-card {
		height: 38px;
	}
	.item-card .date-card,
	.item-card .place-card,
	.item-card .ages-card,
	.item-card .days-card {
		font-size: 16px;
	}
	.item-card .title-card {
		font-size: 26px;
	}
	.item-card .price-card {
		font-size: 24px;
	}
	.item-card button.modal-form.green,
	.item-card button.modal-form.red {
		font-size: 14px;
	}
	.item-card button.modal-form {
		height: 45px;
	}
	.wp-block-fv-program-modal.modal-steps-form {
		max-width: 500px;
		width: 100%;
	}

	.wp-block-fv-program-modal.modal-steps-form .container-step {
		padding: 30px 40px;
		height: 100%;
	}
	.wp-block-fv-program-modal.modal-steps-form {
		height: 500px;
		width: 100%;
		max-width: 100%;
	}
	.wp-block-fv-program-modal-visible .img-visible {
		height: 500px;
		width: calc(50% - 10px);
	}
	.wp-block-fv-program-modal-visible .wp-block-fv-program-modal.modal-steps-form {
		width: calc(50% - 10px);
	}
	.wp-block-fv-program-modal.modal-steps-form .modal-content {
		height: 100%;
	}
	.modal-content .title-step {
		font-size: 22px;
		margin-bottom: 20px;
	}

	.modal-content .step {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		width: 414px;
		margin: 0 auto;
	}

	/* MENU  */
	
}
