/* Для модалки использую hidden-model */
.wp-block-fv-program-modal-transfer {
	margin-top: 75px;
	margin-bottom: 75px;
}

.wp-block-fv-program-modal-transfer .modal-wrapper {
	opacity: 1;
	position: initial;
	background-color: var(--white);
	padding: 0;
	box-sizing: border-box;
	height: 100%;
}

.wp-block-fv-program-modal-transfer .modal-wrapper .close-modal {
	display: none;
}

.wp-block-fv-program-modal-transfer .modal-content .subtitle-step {
	margin-bottom: 10px;
}

.wp-block-fv-program-modal-transfer .modal-content .title-step {
	margin-bottom: 20px;
}

.wp-block-fv-program-modal-transfer .modal-content .fronted .btn-block {
	margin-top: 10px;
}

.wp-block-fv-program-modal-transfer .modal-content .label-class {
	margin-bottom: 11px;
}

.skills-academy .wp-block-fv-program-modal-transfer .modal-content .title-step {
	color: var(--blue);
}

.wp-block-fv-program-modal-transfer .modal-content {
	border-radius: 30px;
	position: relative;
	width: 100%;
	box-sizing: border-box;
}

.wp-block-fv-program-modal-transfer .modal-wrapper.active {
	opacity: 1;
	z-index: 999;
}

.wp-block-fv-program-modal-transfer .modal-content .next {
	background-color: var(--green);
	border: none;
	outline: none;
	width: 218px;
	height: 55px;
	font-size: 16px;
	line-height: 17.6px;
	color: var(--white);
	font-family: "Montserrat";
	font-weight: 500;
	border-radius: 30px;
	cursor: pointer;
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
	padding-left: 17px;
	position: relative;
	transition: all 0.3s ease;
	box-sizing: border-box;
}

.wp-block-fv-program-modal-transfer .modal-content .step-2 .next {
	padding-left: 25px;
}

.wp-block-fv-program-modal-transfer .modal-content .next span {
	position: absolute;
	top: 50%;
	right: 11px;
	transform: translateY(-50%);
	border-radius: 50%;
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease;
	background-color: var(--white);
}

.wp-block-fv-program-modal-transfer .modal-content .next span svg path {
	transition: all 0.3s ease;
}

.wp-block-fv-program-modal-transfer .modal-content .next:active {
	background-color: var(--red);
	transition: all 0.3s ease;
}

.wp-block-fv-program-modal-transfer .modal-content .next:active span svg path {
	fill: var(--red);
	transition: all 0.3s ease;
}

.wp-block-fv-program-modal-transfer .modal-content .title-modal {
	font-size: 22px;
	line-height: 26.4px;
	color: var(--darkGray);
	font-family: "Montserrat";
	font-weight: 600;
	text-align: center;
	max-width: 280px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 20px;
}

.wp-block-fv-program-modal-transfer .modal-content input[type="text"],
.wp-block-fv-program-modal-transfer .modal-content input[type="email"],
.wp-block-fv-program-modal-transfer .modal-content input[type="tel"] {
	width: 100%;
	height: 58px;
	padding-left: 10px;
	border-radius: 10px;
	background-color: var(--hintGray);
	border: 1px solid transparent;
	box-sizing: border-box;
	color: var(--darkGray);
	font-family: "Montserrat";
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 10px;
	padding-right: 10px;
	outline: none;
	transition: all 0.3s ease;
}

.wp-block-fv-program-modal-transfer .modal-content input[type="text"]:focus-visible,
.wp-block-fv-program-modal-transfer .modal-content input[type="email"]:focus-visible,
.wp-block-fv-program-modal-transfer .modal-content input[type="tel"]:focus-visible {
	border: 1px solid var(--green);
	transition: all 0.3s ease;
}

.wp-block-fv-program-modal-transfer .modal-content input[type="text"].error,
.wp-block-fv-program-modal-transfer .modal-content input[type="email"].error,
.wp-block-fv-program-modal-transfer .modal-content input[type="tel"].error {
	border: 1px solid var(--red);
	transition: all 0.3s ease;
}

.wp-block-fv-program-modal-transfer .modal-content .subtitle-step {
	color: var(--mediumGray);
	font-family: "Montserrat";
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	display: block;
	margin-bottom: 7px;
	width: 100%;
	text-align: center;
}

.wp-block-fv-program-modal-transfer .modal-content .title-step {
	color: var(--green);
	font-family: "Montserrat";
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	display: block;
	margin-bottom: 10px;
	width: 100%;
	text-align: center;
}

.wp-block-fv-program-modal-transfer .btn-block {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.wp-block-fv-program-modal-transfer .modal-content .back {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 30px;
	transition: all 0.3s ease;
	cursor: pointer;
}

.wp-block-fv-program-modal-transfer .modal-content .back.back-step:active {
	background-color: var(--red);
	transition: all 0.3s ease;
}

.wp-block-fv-program-modal-transfer .modal-content .back.back-step:active svg path {
	fill: var(--white);
	transition: all 0.3s ease;
}

.wp-block-fv-program-modal-transfer .modal-content .back svg {
	transform: rotate(-180deg);
}

.wp-block-fv-program-modal-transfer .modal-content .back svg path {
	fill: var(--red);
	transition: all 0.3s ease;
}

.wp-block-fv-program-modal-transfer .modal-content .back.disabled svg {
	opacity: 0.5;
}

.wp-block-fv-program-modal-transfer .modal-content .checkbox {
	margin-bottom: 5px;
}

.wp-block-fv-program-modal-transfer .modal-content .checkbox .title {
	flex: 1;
}

.wp-block-fv-program-modal-transfer .modal-content .checkbox .title,
.wp-block-fv-program-modal-transfer .modal-content .label-class,
.wp-block-fv-program-modal-transfer .modal-content .checkbox .title a {
	font-family: "Montserrat";
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: var(--darkGray);
}

.wp-block-fv-program-modal-transfer .modal-content .label-class {
	font-size: 10px;
	line-height: 12px;
	display: block;
	margin-bottom: 20px;
	margin-left: 20px;
}
.wp-block-fv-program-modal-transfer .modal-content .checkbox .title a {
	text-decoration: underline solid;
	text-decoration-skip-ink: none;
}
.wp-block-fv-program-modal-transfer .modal-content .checkbox input[type="checkbox"] {
	width: 14px;
	height: 14px;
}

.wp-block-fv-program-modal-transfer .modal-content .checkbox input[type="checkbox"] {
	margin-top: 0px;
}

.wp-block-fv-program-modal-transfer .modal-content .checkbox {
	gap: 6px;
}

.wp-block-fv-program-modal-transfer .modal-content .checkbox input[type="checkbox"]:checked::after {
	content: "";
	position: absolute;
	left: 4px;
	top: 1px;
	width: 3px;
	height: 6px;
	border: solid var(--white);
	border-width: 0 1px 1px 0;
	transform: rotate(45deg);
}

.wp-block-fv-program-modal-transfer .container-step {
	width: 100%;
	box-sizing: border-box;
}

.wp-block-fv-program-modal-transfer .modal-content .step {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	width: 100%;
}

.wp-block-fv-program-modal-transfer .city-checkbox {
	display: flex;
	align-items: center;
}

.wp-block-fv-program-modal-transfer .container-step .step.backend {
	opacity: 0;
	height: 0;
	overflow: hidden;
	transition: opacity 0.3s ease;
}

.wp-block-fv-program-modal-transfer .container-step .step.fronted {
	opacity: 1;
	height: auto;
	overflow: initial;
	transition: opacity 0.3s ease;
}

.wp-block-fv-program-modal-transfer .container-step.active .step.fronted {
	opacity: 0;
	height: 0;
	overflow: hidden;
	transition: opacity 0.3s ease;
}

.wp-block-fv-program-modal-transfer .container-step.active .step.backend {
	opacity: 1;
	height: auto;
	overflow: initial;
	transition: opacity 0.3s ease;
}

.wp-block-fv-program-modal-transfer .modal-content input[type="email"] {
	width: calc(50% - 5px);
	margin-right: 10px;
}

.wp-block-fv-program-modal-transfer .modal-content input[type="tel"] {
	width: calc(50% - 5px);
}

.wp-block-fv-program-modal-transfer .modal-content input[name="parentName2"] {
	width: calc(50% - 5px);
	margin-right: 10px;
}

.wp-block-fv-program-modal-transfer .modal-content input[name="parentName3"] {
	width: calc(50% - 5px);
}
.skills-academy .modal-content .next span svg path {
	fill: var(--blue);
}
.skills-academy .modal-content input[type="text"]:focus-visible,
.skills-academy .modal-content input[type="email"]:focus-visible,
.skills-academy .modal-content input[type="tel"]:focus-visible {
	border: 1px solid var(--blue);
	transition: all 0.3s ease;
}

.skills-academy .modal-content .title-step {
	color: var(--blue);
}
.skills-academy .modal-content .back.back-step:active {
	background-color: var(--red);
}
.skills-academy .modal-content .next:active {
	background-color: var(--green);
}
.wp-block-fv-program-modal-transfer .modal-content .next:disabled {
	opacity: 0.5;
	cursor: no-drop;
	pointer-events: none;
}

.wp-block-fv-program-modal-transfer .container-step {
	max-width: 600px;
}
.wp-block-fv-program-modal-transfer .block-select {
	display: flex;
	flex-direction: column;
	width: calc(50% - 5px);
	margin-bottom: 20px;
}
.wp-block-fv-program-modal-transfer p {
	color: #535353;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
}
.wp-block-fv-program-modal-transfer select {
	letter-spacing: -0.5px;
	height: 58px;
	padding-left: 10px;
	border-radius: 10px;
	background-color: var(--hintGray);
	border: 1px solid transparent;
	box-sizing: border-box;
	color: var(--darkGray);
	font-family: "Montserrat";
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 10px;
	padding-right: 10px;
	outline: none;
	transition: all 0.3s ease;
}
.wp-block-fv-program-modal-transfer .first-block-select {
	margin-right: 10px;
}
.wp-block-fv-program-modal-transfer .description-select {
	width: 100%;
	margin-bottom: 20px;
}

@media (min-width: 767px) {
	.wp-block-fv-program-modal-transfer .modal-content .title-modal {
		margin: 0;
		max-width: 600px;
	}
	.wp-block-fv-program-modal-transfer .modal-content .title-step {
		font-size: 20px;
		line-height: 24.4px;
		margin-bottom: 20px;
	}
	.wp-block-fv-program-modal-transfer .modal-content .subtitle-step {
		font-size: 14px;
		line-height: 21px;
		margin-bottom: 15px;
	}
	.wp-block-fv-program-modal-transfer .modal-content .checkbox .title,
	.wp-block-fv-program-modal-transfer .modal-content .checkbox .title a {
		font-family: "Montserrat";
		font-weight: 400;
		font-size: 12px;
		line-height: 14.5px;
		letter-spacing: -0.5px;
		color: var(--darkGray);
	}
	.wp-block-fv-program-modal-transfer .modal-content .checkbox input[type="checkbox"] {
		width: 14px;
		height: 14px;
		margin-top: 0px;
	}
	.wp-block-fv-program-modal-transfer .modal-content .title-modal {
		font-size: 32px;
		line-height: 38.4px;
		font-family: "Montserrat";
		font-weight: 600;
		max-width: 580px;
		margin-bottom: 30px;
	}
	.wp-block-fv-program-modal-transfer .modal-content {
		justify-content: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.wp-block-fv-program-modal-transfer {
		margin-top: 120px;
		margin-bottom: 120px;
	}
}

@media (min-width: 820px) {
	.wp-block-fv-program-modal-transfer .modal-content .subtitle-step {
		margin-bottom: 18px;
	}
	.wp-block-fv-program-modal-transfer .modal-content input[type="text"],
	.wp-block-fv-program-modal-transfer .modal-content input[type="email"],
	.wp-block-fv-program-modal-transfer .modal-content input[type="tel"] {
		height: 64px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.wp-block-fv-program-modal-transfer .modal-content .checkbox .title,
	.wp-block-fv-program-modal-transfer .modal-content .checkbox .title a {
		font-size: 13px;
		line-height: 19.5px;
	}
	.wp-block-fv-program-modal-transfer .modal-content .checkbox input[type="checkbox"] {
		margin-top: 3px;
	}
}
@media (min-width: 1025px) {
	.wp-block-fv-program-modal-transfer .container-step {
		padding-left: 110px;
		padding-right: 110px;
	}
}
